<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美丽中国</title>
    <link href="./favicon.ico" rel="SHORTCUT ICON" />
    <link rel="stylesheet" href="./style/theme_default/common.css">
    <link rel="stylesheet" href="./style/theme_default/beauty.css">
</head>
<body>
<header class="clearfix">
    <div class="le-hd-wrapper clearfix">        
        <h1 class="logo"></h1>
        <div class="le-hd-so">
            <form class="so-form clearfix" 
                name="so-form" method="get" action="###">
            <input name="so" class="so-word" type="text"
                placeholder="搜索感兴趣的内容" 
                maxlength="256" autocomplete="off">
            <button type="submit" class="so-btn"></button>
            </form>
        </div>
        <div class="le-hd-user">
            <div class="u-pannel">
                <div class="unlogin">               
                    <a class="" href="###">登录</a><span> | </span>
                    <a class="" href="###">注册</a>
                </div>
                <div class="login">
                    <a class="" href="###">飞扬的心情</a><span> | </span>
                    <a class="" href="###">个人中心</a><span> | </span>
                    <a class="" href="###">退出</a>
                </div>
            </div>
            <a class="app-link" href="http://127.0.0.1:82">APP</a>
        </div>
    </div>
    <nav class="le-header-nav">
        <div class="le-hd-wrapper clearfix">
            <ul class="le-nav clearfix">
                <li class="le-m"><h3><a href="index.html">首页</a></h3></li>
                <li class="le-m"><h3><a href="dest.html">目的地攻略</a></h3></li>
                <li class="le-m on"><h3><a href="beauty.html">美丽中国</a></h3></li>
                <li class="le-m"><span>&nbsp;|&nbsp;</span></li>
                <li class="le-m"><h3><a href="photos.html">摄影</a></h3></li>
                <li class="le-m"><h3><a href="notes.html">游记</a></h3></li>
                <li class="le-m"><h3><a href="tourist.html">旅行家</a></h3></li>
                <li class="le-m"><span>&nbsp;|&nbsp;</span></li>
                <li class="le-m"><h3><a href="info.html">资讯</a></h3></li>
                <li class="le-m"><h3><a href="travel.html">旅行社</a></h3></li>
            </ul>
        </div>
    </nav>
</header>

<div class="mbody">
    
        <!--dest-stage-->
<div class="dest-stage">
    <div class="dest-all">
        <div class="dest-box">
        <div class="dest-t3">
        <img src="./data/image/taiwan_320_b.jpg" alt="">
        </div>
        <div class="dest-t2">
        <img src="./data/image/taiwan_320_b.jpg" alt="">
        </div>
        <div class="dest-t1">
        <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>
        <div class="dest-t1">
        <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>	
        <div class="dest-t1">
        <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>	
        <div class="dest-t1">
        <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>					
        <div class="dest-t2">
        <img src="./data/image/fujian_320_b.jpg" alt="">
        </div>
        <div class="dest-t1">
        <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>
        <div class="dest-t2">
        <img src="./data/image/fujian_320_b.jpg" alt="">
        </div>
        <div class="dest-t1">
        <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>
        <div class="dest-t1">
        <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>
        </div>
        <div class="dest-box">
        <div class="dest-t3">
            <img src="./data/image/taiwan_320_b.jpg" alt="">
        </div>
        <div class="dest-t2">
            <img src="./data/image/taiwan_320_b.jpg" alt="">
        </div>
        <div class="dest-t1">
            <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>
        <div class="dest-t1">
            <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>  
        <div class="dest-t1">
            <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>  
        <div class="dest-t1">
            <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>                  
        <div class="dest-t2">
            <img src="./data/image/fujian_320_b.jpg" alt="">
        </div>
        <div class="dest-t1">
            <img src="./data/image/anhui_320_b.jpg" alt="">
        </div>
        </div>
        <div class="dest-box">
            <div class="dest-t3">
                <img src="./data/image/taiwan_320_b.jpg" alt="">
            </div>
            <div class="dest-t2">
                <img src="./data/image/taiwan_320_b.jpg" alt="">
            </div>
            <div class="dest-t1">
                <img src="./data/image/anhui_320_b.jpg" alt="">
            </div>
            <div class="dest-t1">
                <img src="./data/image/anhui_320_b.jpg" alt="">
            </div>  
            <div class="dest-t1">
                <img src="./data/image/anhui_320_b.jpg" alt="">
            </div>  
            <div class="dest-t1">
                <img src="./data/image/anhui_320_b.jpg" alt="">
            </div>                  
            <div class="dest-t2">
                <img src="./data/image/fujian_320_b.jpg" alt="">
            </div>
            <div class="dest-t1">
                <img src="./data/image/anhui_320_b.jpg" alt="">
            </div>
        </div>
    </div>
    <ul class="dest_indicator">
        <li class="on"></li>
        <li class=""></li>
        <li class=""></li>
    </ul>
</div>
        <!--dest-list-->
<div class="dest-list">
    <div class="dt-box">
    	<div class="dt-box-hd">
    		<h3 class="dt-hd-title"><span>热门城市</span><i class="arrow"></i></h3>
    	</div>
    	<div class="dt-body">
    		<div class="city-list">
                        	<ul>
                        		<li>
                <p class="visit-type">华北</p>
                <p>
                    <a href="#" target="_blank">北京</a>
                    <a href="#" target="_blank">秦皇岛</a>
                    <a href="#" target="_blank">天津</a>
                    <a href="#" target="_blank">承德</a>
                    <a href="#" target="_blank">平遥</a>
                    <a href="#" target="_blank">唐山</a>
                    <a href="#" target="_blank">五台山</a>
                    <a href="#" target="_blank">白洋淀</a>
                    <a href="#" target="_blank">石家庄</a>
                    <a href="#" target="_blank">太原</a>
                    <a href="#" target="_blank">大同</a>
                    <a href="#" target="_blank">呼和浩特</a>
                    <a href="#" target="_blank">易县</a>
                    <a href="#" target="_blank">邯郸</a>
                    <a href="#" target="_blank">张家口</a>
                    <a href="#" target="_blank">包头</a>
                </p>
            </li>
            <li>
                <p class="visit-type">东北</p>
                <p>
                    <a href="#" target="_blank">长白山</a>
                    <a href="#" target="_blank">沈阳</a>
                    <a href="#" target="_blank">哈尔滨</a>
                    <a href="#" target="_blank">长春</a>
                    <a href="#" target="_blank">呼伦贝尔</a>
                    <a href="#" target="_blank">大连</a>
                    <a href="#" target="_blank">漠河</a>
                    <a href="#" target="_blank">丹东</a>
                    <a href="#" target="_blank">葫芦岛</a>
                    <a href="#" target="_blank">五大连池</a>
                    <a href="#" target="_blank">海拉尔</a>
                    <a href="#" target="_blank">满洲里</a>
                    <a href="#" target="_blank">旅顺</a>
                    <a href="#" target="_blank">锦州</a>
                    <a href="#" target="_blank">阿尔山</a>
                </p>
            </li>
            <li>
                <p class="visit-type">西北</p>
                <p>
                    <a href="#" target="_blank">西安</a>
                    <a href="#" target="_blank">青海湖</a>
                    <a href="#" target="_blank">敦煌</a>
                    <a href="#" target="_blank">银川</a>
                    <a href="#" target="_blank">乌鲁木齐</a>
                    <a href="#" target="_blank">甘南</a>
                    <a href="#" target="_blank">华山</a>
                    <a href="#" target="_blank">西宁</a>
                    <a href="#" target="_blank">兰州</a>
                    <a href="#" target="_blank">延安</a>
                    <a href="#" target="_blank">太白山</a>
                    <a href="#" target="_blank">喀纳斯</a>
                    <a href="#" target="_blank">嘉峪关</a>
                    <a href="#" target="_blank">天水</a>
                    <a href="#" target="_blank">喀什</a>
                    <a href="#" target="_blank">额济纳旗</a>
                </p>
            </li>
            <li>
                <p class="visit-type">西南</p>
                <p>
                    <a href="#" target="_blank">拉萨</a>
                    <a href="#" target="_blank">丽江</a>
                    <a href="#" target="_blank">成都</a>
                    <a href="#" target="_blank">九寨沟</a>
                    <a href="#" target="_blank">西双版纳</a>
                    <a href="#" target="_blank">黔东南</a>
                    <a href="#" target="_blank">重庆</a>
                    <a href="#" target="_blank">昆明</a>
                    <a href="#" target="_blank">峨眉山</a>
                    <a href="#" target="_blank">香格里拉</a>
                    <a href="#" target="_blank">腾冲</a>
                    <a href="#" target="_blank">大理</a>
                    <a href="#" target="_blank">汉中</a>
                    <a href="#" target="_blank">泸沽湖</a>
                    <a href="#" target="_blank">贵阳</a>
                    <a href="#" target="_blank">康定</a>
                </p>
            </li>
            <li>
                <p class="visit-type">华中</p>
                <p>
                    <a href="#" target="_blank">张家界</a>
                    <a href="#" target="_blank">武汉</a>
                    <a href="#" target="_blank">长沙</a>
                    <a href="#" target="_blank">凤凰</a>
                    <a href="#" target="_blank">洛阳</a>
                    <a href="#" target="_blank">开封</a>
                    <a href="#" target="_blank">武当山</a>
                    <a href="#" target="_blank">云台山</a>
                    <a href="#" target="_blank">恩施</a>
                    <a href="#" target="_blank">神农架</a>
                    <a href="#" target="_blank">郑州</a>
                    <a href="#" target="_blank">衡山</a>
                    <a href="#" target="_blank">三门峡</a>
                    <a href="#" target="_blank">岳阳</a>
                    <a href="#" target="_blank">宜昌</a>
                    <a href="#" target="_blank">南阳</a>
                    <a href="#" target="_blank">韶山</a>
                </p>
            </li>
            <li>
                <p class="visit-type">华东</p>
                <p>
                    <a href="#" target="_blank">厦门</a>
                    <a href="#" target="_blank">杭州</a>
                    <a href="#" target="_blank">黄山</a>
                    <a href="#" target="_blank">青岛</a>
                    <a href="#" target="_blank">千岛湖</a>
                    <a href="#" target="_blank">上海</a>
                    <a href="#" target="_blank">乌镇</a>
                    <a href="#" target="_blank">扬州</a>
                    <a href="#" target="_blank">泰山</a>
                    <a href="#" target="_blank">婺源</a>
                    <a href="#" target="_blank">庐山</a>
                    <a href="#" target="_blank">苏州</a>
                    <a href="#" target="_blank">南京</a>
                    <a href="#" target="_blank">西塘</a>
                    <a href="#" target="_blank">武夷山</a>
                    <a href="#" target="_blank">井冈山</a>
                    <a href="#" target="_blank">普陀山</a>
                </p>
            </li>
            <li>
                <p class="visit-type">华南</p>
                <p>
                    <a href="#" target="_blank">三亚</a>
                    <a href="#" target="_blank">桂林</a>
                    <a href="#" target="_blank">广州</a>
                    <a href="#" target="_blank">北海</a>
                    <a href="#" target="_blank">海口</a>
                    <a href="#" target="_blank">南宁</a>
                    <a href="#" target="_blank">深圳</a>
                    <a href="#" target="_blank">珠海</a>
                    <a href="#" target="_blank">肇庆</a>
                    <a href="#" target="_blank">韶关</a>
                    <a href="#" target="_blank">清远</a>
                    <a href="#" target="_blank">南澳岛</a>
                    <a href="#" target="_blank">佛山</a>
                    <a href="#" target="_blank">惠州</a>
                    <a href="#" target="_blank">从化</a>
                    <a href="#" target="_blank">东莞</a>
                    <a href="#" target="_blank">巴马</a>
                    <a href="#" target="_blank">湛江</a>
                </p>
            </li>
            <li>
                <p class="visit-type">港澳台</p>
                <p>
                    <a href="#" target="_blank">香港</a>
                    <a href="#" target="_blank">澳门</a>
                    <a href="#" target="_blank">台北</a>
                    <a href="#" target="_blank">高雄</a>
                    <a href="#" target="_blank">金门</a>
                    <a href="#" target="_blank">垦丁</a>
                    <a href="#" target="_blank">阿里山</a>
                    <a href="#" target="_blank">淡水</a>
                    <a href="#" target="_blank">基隆</a>
                    <a href="#" target="_blank">花莲</a>
                    <a href="#" target="_blank">台南</a>
                    <a href="#" target="_blank">桃园</a>
                    <a href="#" target="_blank">日月潭</a>
                    <a href="#" target="_blank">澎湖</a>
                    <a href="#" target="_blank">绿岛</a>
                    <a href="#" target="_blank">台中</a>
                </p>
        </li>
</ul>
    		</div>
    	</div>
    </div>


<div class="dt-box">
    <div class="dt-box-hd">
        <h3 class="dt-hd-title"><span>热门旅游景区</span><i class="arrow"></i></h3>
    </div>
    <div class="dt-body">
        <div class="city-list">
                <ul>
                    <li>
                        <p class="visit-type">A-G</p>
                        <p>
                            <a href="#">八大处</a>
                            <a href="#">八达岭长城</a>
                            <a href="#">保定人民广场</a>
                            <a href="#">宝峰湖</a>
                            <a href="#">包头博物馆</a>
                            <a href="#">北京港澳中心</a>
                            <a href="#">北京欢乐谷</a>
                            <a href="#">北京海洋馆</a>
                            <a href="#">长桥公园</a>
                            <a href="#">大昭寺</a>
                            <a href="#">滴水洞</a>
                            <a href="#">官门山</a>
                        </p>
                    </li>
                    <li>
                        <p class="visit-type">H-N</p>
                        <p>
                            <a href="#">杭州植物园</a>
                            <a href="#">黄山</a>
                            <a href="#">黄山湖公园</a>
                            <a href="#">回龙公园</a>
                            <a href="#">汇龙生态园</a>
                            <a href="#">虎跑梦泉</a>
                            <a href="#">胡雪岩故居</a>
                            <a href="#">集中营纪念馆</a>
                            <a href="#">西山</a>
                            <a href="#">雷锋纪念馆</a>
                            <a href="#">梁子湖</a>
                            <a href="#">柳岸闻莺</a>
                            <a href="#">龙虎山</a>
                            <a href="#">马鞍山森林公园</a>
                            <a href="#">毛泽东故居</a>
                            <a href="#">磨山</a>
                        </p>
                    </li>
                    <li>
                        <p class="visit-type">O-U</p>
                        <p>
                            <a href="#">千佛山</a>
                            <a href="#">千灵山</a>
                            <a href="#">前门大街</a>
                            <a href="#">钱王祠</a>
                            <a href="#">798艺术区</a>
                            <a href="#">碛口</a>
                            <a href="#">清凉谷</a>
                            <a href="#">清西陵</a>
                            <a href="#">清永陵</a>
                            <a href="#">清昭陵</a>
                            <a href="#">三星堆博物馆 </a>
                            <a href="#">沙湖景区</a>
                            <a href="#">上海国际会议中心</a>
                            <a href="#">上海城市规划馆</a>
                            <a href="#">上海老街</a>
                            <a href="#">神农顶</a>
                            <a href="#">深圳民俗文化村</a>
                            <a href="#">深圳欢乐谷</a>
                            <a href="#">深圳世界之窗</a>
                            <a href="#">深圳野生动物园</a>
                            <a href="#">什刹海</a>
                            <a href="#">水立方</a>
                            <a href="#">斯大林公园</a>
                        </p>
                    </li>
                    <li>
                        <p class="visit-type">V-Z</p>
                        <p>
                            <a href="#">蔚州署</a>
                            <a href="#">武当山</a>
                            <a href="#">五台山</a>
                            <a href="#">五塔寺</a>
                            <a href="#">五印坛城</a>
                            <a href="#">夏都公园</a>
                            <a href="#">象鼻山</a>
                            <a href="#">香蜜湖</a>
                            <a href="#">香山</a>
                            <a href="#">响沙湾</a>
                            <a href="#">响水湖</a>
                            <a href="#">仙湖植物园</a>
                            <a href="#">小东海</a>
                            <a href="#">西湖</a>
                            <a href="#">喜洲白族民居建筑群</a>
                            <a href="#">玄武湖</a>
                            <a href="#">宣武艺园</a>
                            <a href="#">圩墩公园</a>
                            <a href="#">亚龙湾蝴蝶谷</a>
                            <a href="#">阳澄湖</a>
                            <a href="#">延吉公园</a>
                            <a href="#">英雄纪念园</a>
                        </p>
                    </li>


                </ul>
        </div>
    </div>
</div>


</div>

</div>
<!--脚底部分-->
<div class="le-ft clearfix">
    <div class="le-ft-wrapper">
        <div class="ft-nav">            
            &nbsp;<a href="./le/protocol.html">用户协议</a>&nbsp;
            &nbsp;<a href="./le/contact.html">联系我们</a>&nbsp;
            &nbsp;<a href="./le/friends.html">友情链接</a>&nbsp;
        </div>
        <div class="le-copyright">
            版权所有 翻版必究 &copy;2016 lelvyou.com
        </div>
    </div>
</div>
<script type="text/javascript" src="./slider/jquery1.42.min.js"></script>
<script type="text/javascript" src="./slider/jquery.SuperSlide.2.1.1.js"></script>
<script>
jQuery(".dest-stage").slide({ 
    titCell:".dest_indicator li", 
    mainCell:".dest-all", 
    effect:"left",  
    autoPlay:true, 
    delayTime:500 
});
</script>
</body>
</html>