<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>旅行社</title>
    <link href="./favicon.ico" rel="SHORTCUT ICON" />
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/travel.css">
</head>
<body>
<header class="clearfix">
    <div class="le-header-wrapper clearfix">        
        <h1 class="logo"></h1>
        <div class="le-header-search-area">
            <form class="search-form clearfix" 
                name="search-form" method="get" action="###">
            <input name="word" class="search-word" type="text"
                placeholder="搜索感兴趣的内容" 
                maxlength="256" autocomplete="off">
            <button type="submit" class="search-btn"></button>
            </form>
        </div>
        <div class="le-header-user-area">
            <div class="u-pannel">
                <div class="unlogin">               
                    <a class="" href="###">登录</a><span> | </span>
                    <a class="" href="###">注册</a>
                </div>
                <div class="login">
                    <a class="" href="###">飞扬的心情</a><span> | </span>
                    <a class="" href="###">个人中心</a><span> | </span>
                    <a class="" href="###">退出</a>
                </div>
            </div>
            <a class="app-link" href="./le/app.html">APP</a>
        </div>
    </div>
    <nav class="le-header-nav">
        <div class="le-header-wrapper clearfix">
            <ul class="le-nav clearfix">
                <li class="le-m"><h3><a href="index.html">首页</a></h3></li>
                <li class="le-m"><h3><a href="dest.html">目的地攻略</a></h3></li>
                <li class="le-m"><h3><a href="beauty.html">美丽中国</a></h3></li>
                <li class="le-m"><span>&nbsp;|&nbsp;</span></li>
                <li class="le-m"><h3><a href="discover.html">发现</a></h3></li>
                <li class="le-m"><h3><a href="photos.html">摄影</a></h3></li>
                <li class="le-m"><h3><a href="notes.html">游记</a></h3></li>
                <li class="le-m"><h3><a href="tourist.html">旅行家</a></h3></li>
                <li class="le-m"><span>&nbsp;|&nbsp;</span></li>
                <li class="le-m"><h3><a href="info.html">资讯</a></h3></li>
                <li class="le-m on"><h3><a href="travel.html">旅行社</a></h3></li>
            </ul>
        </div>
    </nav>
</header>

<div class="mbody">

</div>
<!--脚底部分-->
<div class="le-footer clearfix">
    <div class="le-footer-wrapper">
        <div class="ft-nav">            
            &nbsp;<a href="./le/protocol.html">用户协议</a>&nbsp;
            &nbsp;<a href="./le/contact.html">联系我们</a>&nbsp;
            &nbsp;<a href="./le/friends.html">友情链接</a>&nbsp;
        </div>
        <div class="le-copyright">
            版权所有 翻版必究 &copy;2016 lelvyou.com
        </div>
    </div>
</div>

</body>
</html>