


{# 继承父模板 #}
{% extends 'common/home_common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 标题部分 #}
{% block title%}首页{% endblock title %}


{# 顶部js部分 #}
{% block head_js %}
<link rel="stylesheet" href="{% static 'home/css/common.css' %}">
<link rel="stylesheet" href="{% static 'home/css/index.css' %}">
<link rel="stylesheet" href="{% static 'home/css/slider.css' %}">
{% endblock head_js %}



{# 网页主体部分内容 #}
{% block body %}
<!--幻灯片部分-->
<div class="le-slider">
	<div class="fullSlide">
		<div class="bd">
			<ul>
				{% for cag in hotcag|slice:':4' %}
				<foreach name="flist" item="f">
					<li >
						<a href="{% url 'front:topics' %}?cag={{ cag.id }}" target="_blank">
							<img src="{% static cag.background %}" alt="">
						</a>
					</li>
				</foreach>
				{% endfor %}
			</ul>
		</div>

		<div class="hd">
			<ul>
				{% for cag in hotcag|slice:':4' %}
				<foreach name="flist" item="f">
					<li><img src="{% static cag.background %}" /></li>
				</foreach>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>



<!--主体部分-->
<div class="body">
	<!--频道-->
	<div class="le-top-channel">
		<div class="le-ch-hd">
			<div class="ch-info">
				<h2 class="ch-title">目的地精选</h2>
				<p class="ch-word">去哪儿玩</p>
			</div>
			<div class="ch-more"><a href="{% url 'home:destination' %}" target="_blank">更多</a></div>
		</div>
		<div class="ch-body">
			<div class="dest-fl">

				<figure class="ld-fg2">
					<a href="{% url 'front:detail' %}?id={{ hotview.0.id }}">
						<img src="{% static hotview.0.view_image %}" alt="">
						<div class="fg-tile">{{ hotview.0.view_name }}</div>
					</a>
				</figure>
				{% for view in hotview|slice:'1:' %}
				<figure class="ld-fg">
					<a href="{% url 'front:detail' %}?id={{ view.id }}" target="_blank">
						<img src="{% static view.view_image %}" alt="">
						<div class="fg-tile">{{ view.view_name }}</div>
					</a>
				</figure>
				{% endfor %}
			</div>

			<div class="dest-fr">
				{% for cag in hotcag|slice:'4:8' %}
				<div class="dr-box">
					<a href="{% url 'front:topics' %}?cag={{ cag.id }}" class="tlink" target="_blank">
						<img src="{% static cag.cag_image %}">
						<p>{{ cag.cag_name }}</p>
					</a>
				</div>
				{% endfor %}


			</div>
		</div>
	</div>


	<!--风景-频道-->
	<div class="le-channel">
		<div class="le-ch-hd">
			<div class="ch-info">
				<h2 class="ch-title">资讯与风景</h2>
				<p class="ch-word">放开眼睛，去看世界</p>
			</div>
			<div class="ch-more"><a href="#">更多</a></div>
		</div>
		<div class="ch-body">
			<div class="pic-banner">

				{% for info in infos|slice:':3' %}
				<div class="p-box">
					<a href="{% url 'home:info' %}" class="plink">
						<img src="{% static info.info_image %}">
						<p>{{ info.info_title }}</p>
					</a>
				</div>
				{% endfor %}
			</div>

			<div class="pic-list">
				<div class="pic-list">
				{% for album in albums %}
				<figure class="le-pic">
					<a href="#">
						<img src="{% static album.albumimage_set.all.0.image %}" alt="">
						<div class="fg-tile">{{ album.album_name }}</div>
					</a>
				</figure>
				{% endfor %}
			</div>

		</div>
	</div>
	</div>

	<!--达人-频道-->
	<div class="le-channel">
		<div class="le-ch-hd">
			<div class="ch-info">
				<h2 class="ch-title">旅游达人</h2>
				<p class="ch-word">世界那么大，我想去看看</p>
			</div>
			<div class="ch-more">
				<a href="{% url 'home:tourist' %}">更多</a>
			</div>
		</div>
		<div class="ch-body">
			<div class="dt-list">
				{% for user in travel_users %}
				<foreach name="tourist" item="ut">
					<div class="dt-card">
						<a href="{% url 'front:userhome' %}?id={{ user.id }}">
						<div class="u-avatar">
							<img class="ucard-bg" src="{% static 'home/images/td_bg.png' %}" alt="">
							<figure class="ucard-pic">
								<img src="{% static user.user_photo %}" alt="">
							</figure>
						</div>
						<div class="u-pannel">
							<h3 class="u-name">{{ user.user_name }}</h3>
							<p class="u-sign ellipsis">{{ user.signature }}</p>
						</div>
						</a>
					</div>
				</foreach>
				{% endfor %}

			</div>
		</div>
	</div>



	<!--游记-频道-->
	<div class="le-channel">
		<div class="notes">
			<div class="le-ch-hd">
				<div class="ch-info">
					<h2 class="ch-title">精彩游记攻略</h2>
					<p class="ch-word">美丽就在笔尖</p>
				</div>
				<div class="ch-more"><a href="{% url 'home:travelnotes' %}">更多</a></div>
			</div>
			<div class="ch-body">
				<div class="notes-list">
					{% for note in notes %}
					<foreach name="notes" item='ns'>
						<div class="notes-item">
							<div class="note-pic fl"><a href="#"><img src="{% static note.travel_image %}" alt=""></a></div>
							<div class="note-content fl">
								<h4>
									<a href="{% url 'front:noteview' %}?id={{ note.id }}">{{ note.travel_title }}</a>
								</h4>
								<div class="note-ft">
									作者：<a class="notes-author"
										  href="#">{{ note.travel_user.user_name }}</a>
									时间：<span class="notes-date">{{ note.create_time }}</span>
									浏览：<span class="notes-view-num">{{ note.notes_look }}</span>
								</div>
								<p class="notes-abstract">
									{{ note.content_short }}
								</p>
							</div>
						</div>
					</foreach>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="notes-rbar">
			<div class="b-body">
				<div class="b-top">
					<h3 class="b-hd">新鲜事儿</h3>
					<div class="b-more"><a href="{% url 'home:info' %}">更多</a></div>
				</div>
				<div class="b-list">
					<ul class="b-link">
						{% for info in infos|slice:':7' %}
						<foreach name="arcs" item="a">
							<li><a href="{% url 'front:infoshow' %}?id={{ info.id }}">{{ info.info_title }}</a></li>
						</foreach>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

	</div>

</div>

{% endblock body %}


{# 网页底部 #}
{% block footer %}
<!--脚底部分-->
<div class="le-footer clearfix">
	<div class="le-ft-wrapper">
		<div class="le-friend-link clearfix">
			<div class="le-friend-title">
				<span>友情链接</span>
			</div>
			<ul class="le-friend-list">
				<li><a href="#link">百度旅游</a></li>
				<li><a href="#link">携程旅游</a></li>
				<li><a href="#link">去哪儿网</a></li>
			</ul>
		</div>
		<div class="ft-nav">
			&nbsp;<a href="#">用户协议</a>&nbsp;
			&nbsp;<a href="#">联系我们</a>&nbsp;
			&nbsp;<a href="#">友情链接</a>&nbsp;
		</div>
		<div class="le-copyright">
			版权所有 翻版必究 &copy;2016 lelvyou.com
		</div>
	</div>
</div>

{% endblock footer %}


{# 底部js #}
{% block footer_js %}
<script type="text/javascript" src="{% static 'home/js/jquery1.42.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/jquery.SuperSlide.2.1.1.js' %}"></script>
<script>
    jQuery(".fullSlide").slide({
        titCell:".hd li",
        mainCell:".bd ul",
        effect:"fold",
        autoPlay:true,
        delayTime:500
    });
</script>

{% endblock footer_js %}


</body>
</html>