
{# 继承父模板 #}
{% extends 'common/home_common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 标题部分 #}
{% block title%}游记{% endblock title %}


{# 顶部js部分 #}
{% block head_js %}
<link rel="stylesheet" href="{% static 'home/css/common.css' %}">
<link rel="stylesheet" href="{% static 'home/css/notes.css' %}">

{% endblock head_js %}



{# 网页主体部分内容 #}
{% block body %}
<div class="mbody">

<div class="notes">
<foreach name="notes" item="n">
<!--/note-box/-->
{% for note in notes %}
<div class="note-box">
    <div class="note-view">
        <a href="#">
            <img class="note-thumb" src="{% static note.travel_image %}" />
        </a>
        <div class="note-info">
            <div class="note-title">
                <a href="#">{{ note.note_title }}</a>
            </div>
            <div class="note-author">
                <a href="#">
                    <img class="upic" src="{% static note.travel_user.user_photo %}">
                </a>
                <a class="author-name" href="#" >{{ note.travel_user.user_name }}</a>
            </div>
             <div class="note-des">{{ note.content_short }}</div>
        </div>
    </div>
</div>
{% endfor %}
<!--/note-box/-->
</foreach>


</div>
</div>
{% endblock body %}


{# 底部js #}
{% block footer_js %}
<script src="{$Think.THEME}home/style/js/jquery.min.js"></script>
<script src="{$Think.THEME}home/style/js/jquery.imagesloaded.js"></script>
<script src="{$Think.THEME}home/style/js/jquery.wookmark.js"></script>
<script type="text/javascript">
(function ($){
    var $tiles = $('.notes'),
    $handler = $('.note-box', $tiles),
    $main = $('.mbody'),
    $window = $(window),
    $document = $(document),
    options = {
        autoResize: true,
        container: $main,
        offset: 20,
        itemWidth:241
     };
/**
* Reinitializes the wookmark handler after all images have loaded
*/
function applyLayout() {
    $tiles.imagesLoaded(function() {
        // Destroy the old handler
        if ($handler.wookmarkInstance) {
            $handler.wookmarkInstance.clear();
        }
        // Create a new layout handler.
        $handler = $('.note-box', $tiles);
        $handler.wookmark(options);
     });
}
/**
* When scrolled all the way to the bottom, add more tiles
*/
function onScroll() {
    var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
    closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);
    if (closeToBottom) {
        var $items = $('.note-box', $tiles),
        $firstTen = $items.slice(0, 10);
        $tiles.append($firstTen.clone());
        applyLayout();
    }
};
    applyLayout();
    //$window.bind('scroll.wookmark', onScroll);
})(jQuery);
</script>
{% endblock footer_js %}


</body>
</html>