
{# 继承父模板 #}
{% extends 'common/home_common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 标题部分 #}
{% block title%}摄影{% endblock title %}


{# 顶部js部分 #}
{% block head_js %}
<link rel="stylesheet" href="{% static 'home/css/common.css' %}">
<link rel="stylesheet" href="{% static 'home/css/photos.css' %}">
{% endblock head_js %}



{# 网页主体部分内容 #}
{% block body %}
<div class="mbody">

<ul id="tiles">
<if condition="($plist neq null)">
    {% for album in albums %}
    <foreach name="plist" item="p">
        <li>
            <a href="{% url 'front:photos' %}?id={{ album.id }}"><img src="{% static album.albumimage_set.all.0.image %}"></a>
            <div class="post-info">
                <div class="post-basic-info">
                    <h3><a href="{% url 'front:photos' %}?id={{ album.id }}">{{ album.album_name }}</a></h3>
                    <span><a href="{% url 'front:userhome' %}?id={{ album.album_user.id }}">{{ album.album_user.user_name }}</a></span>
                    <p>{{ album.album_short }}</p>
                </div>
            </div>
        </li>
    </foreach>
    {% endfor %}
</if>

 </ul>

</div>
{% endblock body %}



{# 底部js #}
{% block footer_js %}
<script src="{% static 'home/js/jquery.min.js' %}"></script>
<script src="{% static 'home/js/jquery.imagesloaded.js' %}"></script>
<script src="{% static 'home/js/jquery.wookmark.js' %}"></script>
<script type="text/javascript">
(function ($){
    var $tiles = $('#tiles'),
    $handler = $('li', $tiles),
    $main = $('.mbody'),
    $window = $(window),
    $document = $(document),
    options = {
        autoResize: true,
        container: $main,
        offset: 20,
        itemWidth:241
     };
/**
* Reinitializes the wookmark handler after all images have loaded
*/
function applyLayout() {
    $tiles.imagesLoaded(function() {
        // Destroy the old handler
        if ($handler.wookmarkInstance) {
            $handler.wookmarkInstance.clear();
        }
        // Create a new layout handler.
        $handler = $('li', $tiles);
        $handler.wookmark(options);
     });
}
/**
* When scrolled all the way to the bottom, add more tiles
*/
function onScroll() {
    var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
    closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);
    if (closeToBottom) {
        var $items = $('li', $tiles),
        $firstTen = $items.slice(0, 10);
        $tiles.append($firstTen.clone());
        applyLayout();
    }
};
    applyLayout();
    //$window.bind('scroll.wookmark', onScroll);
})(jQuery);
</script>
{% endblock footer_js %}




</body>
</html>