
{# 继承父模板 #}
{% extends 'common/home_common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 标题部分 #}
{% block title%}旅行家{% endblock title %}


{# 顶部js部分 #}
{% block head_js %}
<link rel="stylesheet" href="{% static 'home/css/common.css' %}">
<link rel="stylesheet" href="{% static 'home/css/tourist.css' %}">
{% endblock head_js %}



{# 网页主体部分内容 #}
{% block body %}
<div class="mbody">

<div class="dt-list">
{% for user in users %}
<foreach name="Users" item="u">
    <div class="dt-box">
        <div class="u-avatar">
            <div class="u-nav">
                <a href="#" class="ucard-pic fl">
                    <img src="{% static user.user_photo %}" alt="">
                </a>
                <div class="u-info">
                    <h3 class="u-name"><a href="#">{{ user.user_name }}</a></h3>
                    <div class="u-dt">
                        游记<span>{{ user.travelnotes_set.all|length }}</span>
                        相册<span>{{ user.useralbum_set.all|length }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-pannel">
            <p class="u-sign ellipsis">{{ user.signature }}</p>
        </div>
    </div>
</foreach>
{% endfor %}

</div>

</div>
{% endblock body %}

</body>
</html>