
{# 继承父模板 #}
{% extends 'common/front_common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 标题部分 #}
{% block title%}乐旅网{% endblock title %}

{# 顶部js部分 #}
{% block head_js %}

<link rel="stylesheet" href="{% static 'front/css/g.css' %}">

{% endblock head_js %}



{# 网页主体部分内容 #}
{% block body %}

<div class="mhtml">

<div class="destBody">

<div class="dtop">
    <div class="le-wrapper clearfix">
        <div class="dtHeader">
            <div class="dtImg">
                <img src="{% static scenes.view_image %}">
            </div>
            <div class="dtInfo">
                <div class="dTitle">
                    <h1 class="h1dhn">{{ scenes.view_name }}</h1>
                    <p class="dtSign">{{ scenes.view_title }}</p>
                </div>
                <div class="dtSubInfo">
                    <div class="dtScenery">
                        <span>景区看点：</span>
                        <foreach name="dest.spoint" item="sp">
                            <em>{{ scenes.view_spot }}</em>
                        </foreach>
                    </div>
                    <div class="dtPos">
                        <span>地理位置：</span>
                        <em>{{ scenes.view_location }}</em>
                    </div>
                    <div class="dtBiref">
                        <span>景点简介：</span>
                        <span class="sBrief">{{ scenes.view_introduce }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dBd">
    <div class="le-wrapper clearfix">
        <div class="dmBody">
            <div class="dCtx fl">

                <div class="dtCH">
                    <h2 class="h2tn">
                        <span>景区介绍</span>
                    </h2>
                    <div class="tnBd">
                        <div class="tnDescription">
                            {{ scenes.view_describe }}
                        </div>
                    </div>
                </div>

                <div class="dtCH">
                    <h2 class="h2tn">
                        <span>精选景点图册</span>
                    </h2>
                    <div class="tnBd">
                        <div class="dPhotos">

                        <if condition="($photos neq null)">
                        <foreach name="photos" item="p">
                                <div class="dAlbum">
                                    <img class="dpic" src="" />
                                    <h3 class="dH3tn">
                                        <a href="#">title</a>
                                    </h3>
                                </div>
                        </foreach>
                        <else/>
                            <p style="text-align:center;padding:5px 0 20px;">暂无相关相册</p>
                        </if>

            </div>
            <div class="vMore">
                <div class="vmp">
                    <a href="{% url 'home:photography' %}" class="vlink" target="_blank">查看更多风景美图</a>
                </div>
            </div>
        </div>
    </div>


    <div class="dtCH">
        <h2 class="h2tn">
            <span>精选景区游记</span>
        </h2>
            <div class="tnBd">
            <div class="ntlist">

            <if condition="($notes neq null)">
            <foreach name="notes" item="n">
                    <div class="dtNt">
                        <h3 class="nH3t">
                            <a href="#" target="_blank">title</a>
                        </h3>
                        <div class="ntCtx">
                            <if condition="($n.thumb neq null)">
                                <div class="ntImg">
                                    <img src="#">
                                </div>
                            </if>
                            <p></p>
                        </div>
                        <div class="ntInfo">
                            <div class="ntFrom">
                                <span>作者:</span>
                                <a href="#" class="u-link" target="_blank">

                                </a>
                            </div>
                            <div class="ntPubtime">
                                <span>时间:</span>
                                <span></span>
                            </div>
                        </div>
                    </div>
            </foreach>
            <else/>
                <p style="text-align:center;padding:5px 0 20px;">暂无相关游记</p>
            </if>

            </div>
                <div class="vMore">
                    <div class="vmp">
                        <a href="{% url 'home:travelnotes' %}" class="vlink" target="_blank">查看更多游记</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="dtCH">
            <div class="dcmt">评论区</div>
        </div>

            </div>
            <div class="dSide fr">
                <div class="sideBar">
                    <div class="sideTop">
                        <div class="sideSign">智慧旅游就在乐旅网</div>
                    </div>
                </div>
                <div class="sideBar">
                    <h3 class="dt3hd">热门景点</h3>

                    {% for view in hotview %}
                    <div class="dlist">
                    <foreach name="sd" item="si">
                        <div class="dtli">
                            <div class="dimg"><img src="{% static view.view_image %}"/></div>
                            <h2 class="dh2t"><a href="{% url 'front:detail' %}?id={{ view.id }}">{{ view.view_name }}</a></h2>
                        </div>
                    </foreach>
                    </div>
                    {% endfor %}

                    <div class="vMore">
                        <div class="vmp">
                            <a href="{% url 'home:destination' %}" class="vlink">查看更多景区</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



</div>

</div>

{% endblock body %}


