

{# 继承父模板 #}
{% extends 'common/front_common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 标题部分 #}
{% block title%}游记-乐旅网{% endblock title %}

{# 顶部js部分 #}
{% block head_js %}

<link rel="stylesheet" href="{% static 'front/css/g.css' %}">

{% endblock head_js %}



{# 网页主体部分内容 #}
{% block body %}
<div class="mhtml">
<div class="le-wrapper">
    <div class="ntPage">
        <div class="ntb">
            <h1 class="ntH1title">{{ note.travel_title }}</h1>
            <div class="ntInfo">
                <div class="ntFrom">
                    <span>作者:</span>
                    <a href="" class="u-link">
                       {{ note.travel_user.user_name }}
                    </a>
                </div>
                <div class="ntPubtime">
                    <span>时间:</span>
                    <span>{{ note.create_time }}</span>
                </div>
                <div class="ntPubtime">
                    <span>浏览:</span>
                    <span>{{ note.notes_look }}</span>
                </div>
            </div>
        </div>

        <div class="ntDtx">
            <div class="ntdx fl">

            <div class="ntContent">
               {{ note.travel_content|safe }}
            </div>
            <div class="ntCmt">
                评论区
            </div>
            </div>
            <div class="ntSide fr">

                <div class="sideBar">
                    <div class="sideTop">
                        {% if hotnote.1.travel_image %}
                            <img src="{% static hotnote.1.travel_image %}"/>
                        {% endif %}
                    </div>
                </div>

                <div class="sideBar">
                    <h3 class="dt3hd">热门游记</h3>
                    <div class="dlist">
                        <ul class="jtzw">
                        {% for note in hotnote %}
                        <foreach name="notes" item="n" key="nk">
                            <li><p>{{ forloop.counter }}</p><a href="{% url 'front:noteview' %}?id={{ note.id }}">{{ note.travel_title }}</a></li>
                        </foreach>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="vMore">
                        <div class="vmp">
                            <a href="{% url 'home:travelnotes' %}" class="vlink">查看更多游记</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock body %}









