{# 继承父模板 #}
{% extends 'common/front_common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 标题部分 #}
{% block title%}相册-乐旅网{% endblock title %}

{# 顶部js部分 #}
{% block head_js %}

<link rel="stylesheet" href="{% static 'front/css/g.css' %}">
<link rel="stylesheet" href="/public/SimpleSlide/simple.slide.css" type="text/css">

{% endblock head_js %}


{# 网页主体头部 #}
{% block body_header %}{% endblock body_header %}

{# 网页主体部分内容 #}
{% block body %}

<div class="mhtml">
<div class="le-wrapper">
    <div class="photoContainer">
        <div class="photoHd">
            <h1 class="pH1tn">{{ user_album.album_name }}</h1>
            <div class="pInfo">
                <div class="ntFrom">
                    <span>作者:</span>
                    <a href="{% url 'front:userhome' %}?id={{ user_album.album_user.id }}" class="u-link">
                        {{ user_album.album_user.user_name }}
                    </a>
                </div>
                <div class="ntPubtime">
                    <span>时间:</span>
                    <span>{{ user_album.create_time }}</span>
                </div>
                <div class="ntPubtime">
                    <span>浏览:</span>
                    <span>{{ user_album.album_look }}</span>
                </div>
            </div>
        </div>
        <div class="photoBd">
            <div class="photoRlist fl">
                <h3 class="ph3tn">图片列表</h3>
                <div class="plist">
                    <div class="lPhotos">
                    {% for image in user_album.albumimage_set.all %}
                    <foreach name="plist" item="p">
                        <a class="lpic" i="#" href="#link"><img src="{% static image.image %}" /></a>
                    </foreach>
                    {% endfor %}
                    </div>
                    {% comment %}
                    <div class="sPage">
                        {$page}
                    </div>
                    {% endcomment %}
                </div>
            </div>
            <div class="photoSide fr">
                <h3 class="ph3tn">精彩推荐</h3>
                <div class="pslist">
                    <ul class="imgliBox">
                        <foreach name="photos.splist" item="sp">
                            <li>
                                {% for album in hotalbum %}
                                <a href="{% url 'front:photos' %}?id={{ album.id }}">
                                    <img src="{% static album.albumimage_set.all.0.image %}">
                                    <span>{{ album.album_name }}</span>
                                </a>
                                {% endfor %}
                            </li>
                        </foreach>
                    </ul>
                </div>
                <div class="pMore">
                    <div class="pmp"> 
                        <a href="{% url 'home:travelnotes' %}" class="vlink">查看更多相册</a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}


{# 底部js #}
{% block footer_js %}
<script type="text/javascript" src="/public/SimpleSlide/183.js"></script>
<script type="text/javascript" src="/public/SimpleSlide/simple.slide.min.js"></script>
<script type="text/javascript">
    $('.lpic').simpleSlide();
</script>
{% endblock footer_js %}
