{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>三亚十大景点推荐_三亚十大景点，乐旅网</title>
    <meta name="keywords" content="三亚十大景点推荐_三亚十大景点，乐旅网">
    <meta name="description" content="三亚十大景点推荐_三亚十大景点，乐旅网">
    <link rel="stylesheet" href="{% static 'front/css/sanyabase.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/sanyasy_tem.css' %}" type="text/css">

<body>
<div id="content">
    <div class="sy_con_intro">
        <p>寒流来袭的日子，份外怀念在三亚的时光,也许是因为永远的温暖也许是为了那种可以心无旁骛的慵懒。这个寒冷的冬季对于不想麻烦办签证的人来说，无疑去三亚是最好的选择.辞旧迎新之际,烟花璀璨,将大东海这片海滩点缀得格外秀美,三亚，为您提供浪漫之旅!</p>
    </div>

    <div class="mou_main_one clear_fl">
        <div class="font_wrap clear_fl">
            <a class="fl tu" href="#"><img src="./style/images/sanyananshan.jpg" alt="三亚南山全景"></a>
            <div class="fl mou_one_right">
                <em class="text_one"><a href="#">三亚南山</a></em>
                <p class="juli"><span>推荐指数：☆☆☆☆☆</span></p>
                <div class="list_word"><span>景区推荐：</span><em>海上观音</em><em>南山寺</em><em>长寿廊</em></div>
                <div><span>推荐理由：</span>在南山，朝圣祈福之旅，拜佛，拜观音，一份虔心抚平一份夙愿，了却心头事。无心头事，便是一身轻松，也便是处处是拈花微笑，自由自在。于是，大海边，遥看观音踏浪来，近闻梵音乐耳起，让没有包袱的身心回归自然，让没有压抑的步子尽情飞翔，离佛很近，离海很近，离幸福很近。</div>
            </div>
        </div>
    </div>

    <!--第二块-->
    <div class="mou_nor_wrap clear_fl">
        <div>
            <div class="mou_nor_wrap_one fl">
                <em class="mou_seven"><a href="#">西岛</a></em>
                <a class="tu" href="#"><img src="./style/images/xidao.jpg" alt="西岛全景"></a>
                <div class="mou_nor_one">
                    <p class="juli"><span>推荐指数：☆☆☆☆☆</span></p>
                    <div class="list_word"><span>景区推荐：</span><em>牛王岛</em><em>肖旗港</em><em>西瑁渔村</em></div>
                    <div><span>推荐理由：</span>在西岛你会觉得大海跟你站起来一样高，仿佛总有种蓝色气息萦绕在身边;当赤裸的小腿浸在纯净的海水中,裤腿被打湿了也心生喜悦，当夕阳快西下的时候,也是我们登船返航的时间，除了留恋这片海域之外，还有就是一天快乐行程的幸福感。</div>
                </div>
            </div>

            <div class="mou_nor_wrap_one fl">
                <em class="mou_seven"><a href="#">呀诺达雨林景区</a></em>
                <a class="tu" href="#"><img src="./style/images/yanuodayulin.jpg" alt="呀诺达雨林全景"></a>
                <div class="mou_nor_one clear_float">
                    <p class="juli"><span>推荐指数：☆☆☆☆☆</span></p>
                    <div class="list_word"><span>景区推荐：</span><em>梦幻谷</em><em>经石峡</em><em>雨林馆</em></div>
                    <div><span>推荐理由：</span>踱进雨林中，阵阵凉意顿时袭来，侵进每一个细胞当中，沿着山体而上，时而穿进岩洞，时而拐进雨林，时而攀上树梢，放开都市里的喧嚣与烦杂，放飞自己的心灵，在这里尽情地呼吸清新的空气，与雨林一起追逐绿色的渴望，使人们回归自然。</div>
                </div>
            </div>

            <div class="mou_nor_wrap_one fl">
                <em class="mou_seven"><a href="#">天涯海角</a></em>
                <a class="tu" href="#"><img src="./style/images/tianyahaijiao.jpg" alt="天涯海角全景"></a>
                <div class="mou_nor_one">
                    <p class="juli"><span>推荐指数：☆☆☆☆☆</span></p>
                    <div class="list_word"><span>景区推荐：</span><em>海判南天</em><em>南天一柱</em><em>椰林</em></div>
                    <div><span>推荐理由：</span>天涯海角，不离不弃，你我同在，在这里，浪漫与承诺同在。静静聆听海水的声音，在爱情石前许下山盟海誓的承诺，甜蜜，你我共享.这里融碧水、蓝天于一色，烟波浩瀚，帆影点点。椰林婆娑，奇石林立，如诗如画。</div>
                </div>
            </div>
        </div>
    </div>


    <div class="mou_main_extra clear_fl">
        <div class="fl mou_one_left">
            <em class="mou_seven"><a href="#scenic_wuzhizhoudao">三亚蜈支洲岛</a></em>
            <p class="juli" style="margin-top:10px;"><span>推荐指数：☆☆☆☆☆</span></p>
            <div class="list_word" style="margin-top:10px;"><span>景区推荐：</span><em>妈祖庙</em><em>观日岩</em><em>情人桥</em></div>
            <div style="margin-top:10px;"><span>推荐理由：</span>蜈支洲真的是一个很美的地方，海水很清，天空很蓝，沙很细，海风很清爽，真的让你有一种，躺在椅子上手里拿着一个椰子在吸椰子水的这种感觉。只是单纯的想去看海，放松心情，在城市的高楼大厦，钢筋水泥，汽车尾气里渐渐忘记了深呼吸，那就去三亚吧，不需要很多的钱，心情却有着很奢侈的享受.</div>
            <div class="big_lag">
                <a href="#" class="name_u" style="width:263px;margin-top:30px;">小七</a>
                <a href="#" class="name_t" style="width:150px;line-height:25px;display:inline-block;">名不虚传啊，太爽啦~哈哈以后每年都要去玩~不错！</a>
            </div>
        </div>
        <a class="fl tu" style="margin-right:0;" href="#scenic_wuzhizhoudao"><img src="./style/images/sanyawuzhizhoudao.jpg" alt="三亚蜈支洲岛全景"></a>
    </div>


    <div class="mou_nor_wrap clear_fl no_bg">
        <div class="mou_nor_wrap_one fl">
            <em class="mou_seven"><a href="#">亚龙湾</a></em>
            <a class="tu" href="#"><img src="./style/images/yalongwan.jpg" alt="亚龙湾全景"></a>
            <div class="mou_nor_one">
                <p class="juli"><span>推荐指数：☆☆☆☆☆</span></p>
                <div class="list_word"><span>景区推荐：</span><em>沙滩</em><em>海水</em><em>阳光</em></div>
                <div><span>推荐理由：</span>你能想象蓝中透绿、海天一体的景色吗?象竖在面前一副巨大的画,是朦胧的,却又伸手可及，当你身处画中时，耳边是海浪在碎语，鼻息被温润所浸透，肌肤有柔风轻拂过，身体笼罩在清澈温暖的阳光里，空气都有些微微的泛蓝，却又绿荧荧的，除了感动,还有震撼.</div>
            </div>
        </div>

        <div class="mou_nor_wrap_one fl">
            <em class="mou_seven"><a href="#scenic_luhuitou">鹿回头</a></em>
            <a class="tu" href="#scenic_luhuitou"><img src="./style/images/luhuitou.jpg" alt="鹿回头全景"></a>
            <div class="mou_nor_one clear_float">
                <p class="juli"><span>推荐指数：☆☆☆☆☆</span></p>
                <div class="list_word"><span>景区推荐：</span><em>雕塑</em><em>一见钟情</em><em>永生相伴</em></div>
                <div><span>推荐理由：</span>鹿回头风情园拥有独特的黎族文化财富，美丽的“鹿回头”传说。土建、雕塑、园林、石刻、戏鹿、歌舞、娱乐交融一体的特色景观规划，实现了整体体现“鹿回头传说”主体的静态与动态之结合，神话传说与风情习俗的结合，旅游景点与旅游文化的结合。</div>
            </div>
        </div>

        <div class="mou_nor_wrap_one fl">
            <em class="mou_seven"><a href="#">大东海沙滩</a></em>
            <a class="tu" href="#"><img src="./style/images/dadonghaishatan.jpg" alt="大东海沙滩全景"></a>
            <div class="mou_nor_one">
                <p class="juli"><span>推荐指数：☆☆☆☆☆</span></p>
                <div class="list_word"><span>景区推荐：</span><em>青山</em><em>绿耶</em><em>沙滩</em></div>
                <div><span>推荐理由：</span>久违了的那片蔚蓝，就在眼前，踩着细细沙，和着暖暖的阳光，感受着这片海域带给的愉悦，穿梭于人群里，一同感受着属于海之南这片美色，辞旧迎新之际，烟花璀璨，将大东海这片海滩点缀得格外秀美。蓝天白云下，青山绿水中，有您真好，一切是那么协调与完美。</div>
            </div>
        </div>
    </div>


</div>

</div>
<!-- 主体内容 end -->

<div id="footer">
    <div class="footer_main">
        <div class="footer_main_left fl">
            <ul class="index_nav">
                <li><a href="#">首页</a><span>|</span></li>
                <li><a href="#">资讯</a><span>|</span></li>
                <li><a href="#">网站地图</a><span>|</span></li>
                <li><a href="#">友情链接</a><span>|</span></li>
            </ul>
            <p>Copyright &copy; 2017 乐旅网</p>
        </div>
    </div>
</div>
</body>
</html>
