<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>寻找最美的春天_春季旅游_春季旅游去哪好,好去处-乐旅网</title>
    <meta name="Keywords" content="寻找最美的春天,春季旅游去哪好,乐旅网">
    <meta name="Description" content="芳草吐绿,万物复苏,春天是个旅游的好季节,春季是个旅游的好时机,春季旅游胜地数不胜数,让我们一起赏烂漫春花,看江湖初开,观侯鸟回归,登山踏青,感悟历史,领略风土人情,体味名镇之美妙,陶醉春天,寻找最美的春天!">
    <link rel="stylesheet" href="css/base.css" type="text/css" />
    <link rel="stylesheet" href="css/beau.css" type="text/css" />
</head>

<body>
<div class="mou_main">

    <div class="area_one"></div>

    <div class="beau_top_bg"></div>

    <!-- 主体内容 start -->
    <div class="area_main">

        <!-- 返回首页 -->
        <div class="back_home">
            <a href="/">返回首页</a>
        </div>

        <!-- 第一块内容 start -->
        <div class="capital_one">
            <div class="capital_one_title">
                <span class="fr">stp1</span>
            </div>

            <div class="font_wrap clear_fl">
                <a class="fl tu" href="#" target="_blank"><img src="images/yangzhou.jpg"  alt="扬州全景" /></a>
                <div class="fl mou_one_right">
                    <p class="teli"><a href="#" target="_blank">扬州</a></p>
                    <p class="juli"><span>推荐指数：</span>☆☆☆☆☆</p>
                    <div class="list_word">
                        <span>关键词：</span>
                        <em>瘦西湖</em>
                        <em>个园</em>
                        <em>大明寺</em>
                    </div>
                    <div class="tujian_li">
                        <span>推荐理由：</span>
                        “故人西辞黄鹤楼, 烟花三月下扬州。 孤帆远影碧空尽， 唯见长江天际流.”江南的春色是惹人醉的，当你走在春风细细中，看着满眼的春色，体会着柳条在春天中的舞蹈，闻着春天的味道，那么，你还能想起什么呢？此刻，把什么都忘记把吧,尽情欣赏美景。
                    </div>
                    <div class="btn_mou fr">
                        <a class="look_l1 fl" href="#" target="_blank">去看看</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- 第一块内容 end -->

        <!-- 第二块内容 start -->
        <div class="mou_nor_wrap clear_fl">

            <!-- 第二块左边内容 left -->
            <div class="mou_nor_wrap_left fl">
                <div class="mou_nor_wrap_title">
                    <span class="fl">stp2</span>
                    <a href="#" target="_blank">乌镇</a>
                </div>

                <div class="font_wrap_main clear_fl">
                    <a class="fl tu" href="#" target="_blank"><img src="images/wuzhen.jpg" alt="乌镇全景" /></a>
                    <div class="fl font_wrap_main_con">
                        <p class="juli"><span>推荐指数：</span>☆☆☆☆☆</p>
                        <div class="list_word">
                            <span>关键词：</span>
                            <em>石板小巷</em>
                            <em>小桥流水</em>
                            <em>古戏台</em>
                        </div>
                        <div class="tujian_li">
                            <span>推荐理由：</span>
                            走在那用青石板铺成的狭窄的小街上，可以倾听脚步在另一小巷上的回音，看到两边各式各样的民居，就会让人有一种亲切自然的感觉。夜里在河边坐一坐，满目所见，小桥流水人家。那一刻，甚至有一种错觉，仿佛乌镇等待千年就是为了等待我们的出现。
                        </div>
                        <div class="btn_mou fr">
                            <a class="look_l1 fl" href="#" target="_blank">去看看</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 第二块中间内容 center -->
            <div class="mou_nor_wrap_left fl">
                <div class="mou_nor_wrap_title">
                    <span class="fl">stp3</span>
                    <a href="#" target="_blank">婺源</a>
                </div>

                <div class="font_wrap_main clear_fl">
                    <a class="fl tu" href="#" target="_blank"><img src="images/wuyuan.jpg" alt="婺源全景" /></a>
                    <div class="fl font_wrap_main_con">
                        <p class="juli"><span>推荐指数：</span>☆☆☆☆☆</p>
                        <div class="list_word">
                            <span>关键词：</span>
                            <em>乌龙山</em>
                            <em>大鄣山</em>
                            <em>月亮湾</em>
                        </div>
                        <div class="tujian_li">
                            <span>推荐理由：</span>
                            无论对于普通游客，还是摄影爱好者来说，选择春天前往婺源的一大原因，总脱离不开那耀眼的金黄——油菜花田。没错，春天的婺源是油菜花的世界。金色的油菜花连成一片，与黑白的徽派建筑相得益彰，显现出不凡的华彩。
                        </div>
                        <div class="btn_mou fr">
                            <a class="look_l1 fl" href="#" target="_blank">去看看</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 第二块右边内容 right -->
            <div class="mou_nor_wrap_left fl no_margin">
                <div class="mou_nor_wrap_title">
                    <span class="fl">stp4</span>
                    <a href="#" target="_blank">九寨沟</a>
                </div>

                <div class="font_wrap_main clear_fl">
                    <a class="fl tu" href="#" target="_blank"><img src="images/jiuzhaigou.jpg" alt="九寨沟全景" /></a>
                    <div class="fl font_wrap_main_con">
                        <p class="juli"><span>推荐指数：</span>☆☆☆☆☆</p>
                        <div class="list_word">
                            <span>关键词：</span>
                            <em>五花海</em>
                            <em>五彩池</em>
                            <em>树正瀑布</em>
                        </div>
                        <div class="tujian_li">
                            <span>推荐理由：</span>
                            大自然的造化似乎尤其钟情于川西北这片神奇的土地。阳刚之山、阴柔之水，在这里衍生成一派自然造化中最为灵动的气象。春日来临，九寨沟冰雪消融、春水泛涨，山花烂漫，去犀牛海看温柔而慵懒的春阳吻接湖面。
                        </div>
                        <div class="btn_mou fr">
                            <a class="look_l1 fl" href="#" target="_blank">去看看</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 第二块内容 end -->

        <!-- 第一块内容 start -->
        <div class="capital_one">
            <div class="capital_one_title">
                <span class="fr">stp5</span>
            </div>

            <div class="font_wrap clear_fl">
                <a class="fl tu" href="#" target="_blank"><img src="images/xian.jpg" alt="西安全景" /></a>
                <div class="fl mou_one_right">
                    <p class="teli"><a href="#" target="_blank">西安</a></p>
                    <p class="juli"><span>推荐指数：</span>☆☆☆☆☆</p>
                    <div class="list_word">
                        <span>关键词：</span>
                        <em>兵马俑</em>
                        <em>华清池</em>
                        <em>大雁塔</em>
                    </div>
                    <div class="tujian_li">
                        <span>推荐理由：</span>理由很简单哦，夏天太热，冬天太冷。春天最适合了。春风习习中和爱人手拉着手走在古城的大街上，看着熙熙攘攘的人群，很是惬意哦。西安的饮食文化洋溢着浓郁的西北风情，品尝西安众多的风小吃是游西安的一大乐事。至西安旅游，品尝西安当地的美食是必不可少的，来一碗西北汉子久不能忘的羊肉泡，尝一下让人回味无穷的肉夹馍，吃一盘辣中有香的凉皮，都可深深烙下对古城西安的永久印象。你还在等什么呢？
                    </div>
                    <div class="btn_mou fr">
                        <a class="look_l1 fl" href="#" target="_blank">去看看</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 第一块内容 end -->

        <!-- 第二块内容 start -->
        <div class="mou_nor_wrap clear_fl">

            <!-- 第二块左边内容 left -->
            <div class="mou_nor_wrap_left fl">
                <div class="mou_nor_wrap_title">
                    <span class="fl">stp6</span>
                    <a href="#" target="_blank">平遥</a>
                </div>

                <div class="font_wrap_main clear_fl">
                    <a class="fl tu" href="#" target="_blank"><img src="images/pingyao.jpg" alt="平遥全景" /></a>
                    <div class="fl font_wrap_main_con">
                        <p class="juli"><span>推荐指数：</span>☆☆☆☆☆</p>
                        <div class="list_word">
                            <span>关键词：</span>
                            <em>镇国寺</em>
                            <em>双林寺</em>
                            <em>古城墙</em>
                        </div>
                        <div class="tujian_li">
                            <span>推荐理由：</span>
                            平遥古城是中国汉民族城市在明清时期的杰出范例，它是由完整的城墙、街道、店铺、寺庙、民居等组成的一组庞大古建筑群， 是按照汉民族传统规划思想和建筑风格建设起来的城市，现在许多古装戏在平遥拍摄外景时，连布景都不用。
                        </div>
                        <div class="btn_mou fr">
                            <a class="look_l1 fl" href="#" target="_blank">去看看</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 第二块中间内容 center -->
            <div class="mou_nor_wrap_left fl">
                <div class="mou_nor_wrap_title">
                    <span class="fl">stp7</span>
                    <a href="#" target="_blank">丽江</a>
                </div>

                <div class="font_wrap_main clear_fl">
                    <a class="fl tu" href="#" target="_blank"><img src="images/lijiang.jpg" alt="丽江全景" /></a>
                    <div class="fl font_wrap_main_con">
                        <p class="juli"><span>推荐指数：</span>☆☆☆☆☆</p>
                        <div class="list_word">
                            <span>关键词：</span>
                            <em>束河古镇</em>
                            <em>大研古城</em>
                            <em>云彬坪</em>
                        </div>
                        <div class="tujian_li">
                            <span>推荐理由：</span>
                            春天的丽江，令许多人神往，这时的温度不灵不热刚刚好，万物吐新花红柳绿。世间很多美丽的故事都是缘于相遇，背起行囊走进丽江吧，您绝不可以错过，准备出发吧，丽江在等你，春暖的花,开的日子里，在那里，慵懒清闲变得理所当然。
                        </div>
                        <div class="btn_mou fr">
                            <a class="look_l1 fl" href="#" target="_blank">去看看</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 第二块右边内容 right -->
            <div class="mou_nor_wrap_left fl no_margin">
                <div class="mou_nor_wrap_title">
                    <span class="fl">stp8</span>
                    <a href="#" target="_blank">西湖</a>
                </div>

                <div class="font_wrap_main clear_fl">
                    <a class="fl tu" href="#" target="_blank"><img src="images/xihu.jpg" alt="西湖全景" /></a>
                    <div class="fl font_wrap_main_con">
                        <p class="juli"><span>推荐指数：</span>☆☆☆☆☆</p>
                        <div class="list_word">
                            <span>关键词：</span>
                            <em>湖心亭</em>
                            <em>阮公墩</em>
                            <em>小瀛洲</em>
                        </div>
                        <div class="tujian_li">
                            <span>推荐理由：</span>
                            也许大家对西湖是如雷贯耳的，但是春日里的西湖是别有一番味道的。杭州以其美丽的西湖山水著称于世，阳春三月，莺飞草长，两边水波潋滟，游船点点。此时走在堤上，你会被眼前的景色所惊叹，甚至心醉神驰，怀疑自己是否进入了世外仙境。
                        </div>
                        <div class="btn_mou fr">
                            <a class="look_l1 fl" href="#" target="_blank">去看看</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 第二块内容 end -->

        <!-- 第一块内容 start -->
        <div class="capital_one">
            <div class="capital_one_title">
                <span class="fr">stp9</span>
            </div>

            <div class="font_wrap clear_fl">
                <a class="fl tu" href="#" target="_blank"><img src="images/huangshan.jpg" alt="黄山全景" /></a>
                <div class="fl mou_one_right">
                    <p class="teli"><a href="#" target="_blank">黄山</a></p>
                    <p class="juli"><span>推荐指数：</span>☆☆☆☆☆</p>
                    <div class="list_word">
                        <span>关键词：</span>
                        <em>黄山春花</em>
                        <em>云海</em>
                        <em>奇松</em>
                    </div>
                    <div class="tujian_li">
                        <span>推荐理由：</span>
                        春天中，似乎黄山那云海中的仙境也仿佛苏醒般，散发着春天独有的气息。春天真是万物复苏的时候，一点儿没错，这也包括了那苍穹的群山。黄山的花此刻也在慢慢的开放，一片春意盎然的图景。
                    </div>
                    <div class="btn_mou fr">
                        <a class="look_l1 fl" href="#" target="_blank">去看看</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 第一块内容 end -->


        <!-- 第一块内容 start -->
        <div class="capital_one no_border">
            <div class="capital_one_tlwrap">
                <div class="capital_one_title fr">
                    <span class="fl">stp10</span>
                </div>
            </div>

            <div class="font_wrap clear_fl">
                <div class="fl mou_one_right" style="padding:0;padding-right:20px;">
                    <p class="teli"><a href="#" target="_blank">苏州</a></p>
                    <p class="juli"><span>推荐指数：</span>☆☆☆☆☆</p>
                    <div class="list_word">
                        <span>关键词：</span>
                        <em>拙政园</em>
                        <em>狮子林</em>
                        <em>寒山寺</em>
                    </div>
                    <div class="tujian_li">
                        <span>推荐理由：</span>
                        苏州在江南人是属于小资型的，城市建筑透露着古色古香，外面看起来古老，但是其实里面是别有洞天的，让人印象深刻的是城市中处处散发着的历史文化底蕴，从电话亭到车站甚至路灯，都是经过精心设计的，路灯是古代灯笼似的，而且是大户人家的方形灯笼，在春天的傍晚中，漫步在这样的街道上，那是别有一番情趣的。
                    </div>
                    <div class="btn_mou fr">
                        <a class="look_l1 fl" href="#" target="_blank">去看看</a>
                    </div>
                </div>
                <a class="fl tu" href="#" target="_blank"><img src="images/suzhou.jpg" alt="苏州全景" /></a>
            </div>
        </div>
        <!-- 第一块内容 end -->

    </div>
    <!-- 主体内容 end -->

    <div class="beau_bot_bg"></div>

    <!-- 特色专题推荐 -->
    <div class="beau_foot_main">
        <h3>特色专题推荐</h3>
        <ul class="clear_fl">
            <li><a href="/topic/dest/guzhen/index.htm" target="_blank">十大古镇</a></li>
            <li><a href="/topic/dest/mingshan/index.htm" target="_blank">十大名山</a></li>
            <li><a href="/topic/dest/zongjiao/index.htm" target="_blank">十大宗教</a></li>
            <li><a href="/topic/dest/pubu/index.htm" target="_blank">十大瀑布</a></li>
            <li><a href="/topic/dest/sanya/index.htm" target="_blank">走进三亚</a></li>
            <li><a href="/topic/dest/gujianzhu/index.htm" target="_blank">十大古建筑</a></li>
            <li><a href="/topic/dest/gulou/index.htm" target="_blank">十大古楼</a></li>
            <li><a href="/topic/dest/yunnan/index.htm" target="_blank">七彩云南</a></li>
            <li><a href="/topic/dest/minghu/index.htm" target="_blank">十大名湖</a></li>
            <li><a href="/topic/dest/xiaochi/index.htm" target="_blank">吃货天地</a></li>
            <li><a href="/topic/dest/jingqu/index.htm" target="_blank">智慧旅游景区</a></li>
            <li><a href="/topic/dest/yuanlin/index.htm" target="_blank">十大园林</a></li>
            <li><a href="/topic/dest/mingsi/index.htm" target="_blank">十大名寺</a></li>
            <li><a href="/topic/dest/jinianguan/index.htm" target="_blank">十大纪念馆</a></li>
        </ul>
    </div>
</div>

<div id="footer">
    <div class="footer_main">
        <div class="footer_main_left fl">
            <ul class="index_nav">
                <li><a href="#">首页</a><span>|</span></li>
                <li><a href="#">资讯</a><span>|</span></li>
                <li><a href="#">网站地图</a><span>|</span></li>
                <li><a href="#">友情链接</a><span>|</span></li>
            </ul>
            <p>Copyright &copy; 2017 乐旅网</p>
        </div>
    </div>
</div>
</body>
</html>
