
{# 继承父模板 #}
{% extends 'common/front_common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 标题部分 #}
{% block title%}用户的主页-乐旅网{% endblock title %}

{# 顶部js部分 #}
{% block head_js %}

<link rel="stylesheet" href="{% static 'front/css/g.css' %}">

{% endblock head_js %}


{# 网页主体部分内容 #}
{% block body %}

<div class="mhtml">

<div class="uHome">
<div class="le-wrapper98">

  {# 用户头部公共部分 #}
  {% include 'common/front_common/user_include.html' %}


<div class="uBody">
<div class="uBmian fl">
<h2 class="uH2n">{{ user.user_name }}的档案</h2>
<div class="uChs">           

<div class="uBinfo">
    <h3 class="ubH3t">基本资料</h3>
    <div class="ubCtx">
        <ul class="uinfolist">
            <li>
                <span>昵称:</span>
                <div>{{ user.user_name }}</div>
            </li>
            <li>
                <span>个性签名:</span>
                <div>{{ user.signature }}</div>
            </li>
            <li>
                <span>生日:</span>
                <div>{{ user.birthday }}</div>
            </li>
            <li>
                <span>性别:</span>
                <div>{% if user.gender == 1 %}男{% else %}女{% endif %}</div>
            </li>
            <li>
                <span>现居住地:</span>
                <div>{{ user.user_addr }}</div>
            </li>
        </ul>
    </div>
</div>


</div> 
        </div>

        {# 个人资料公共部分 #}
        {% include 'common/front_common/user_common.html' %}


    </div>
</div>
</div>


</div>
{% endblock body %}


