{# 继承父模板 #}
{% extends 'common/front_common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 标题部分 #}
{% block title%}用户的主页-乐旅网{% endblock title %}

{# 顶部js部分 #}
{% block head_js %}

<link rel="stylesheet" href="{% static 'front/css/g.css' %}">

{% endblock head_js %}


{# 网页主体头部 #}
{% block body_header %}{% endblock body_header %}

{# 网页主体部分内容 #}
{% block body %}

<div class="mhtml">

<div class="uHome">
<div class="le-wrapper98">

    {# 用户头部公共部分 #}
   {% include 'common/front_common/user_include.html' %}

<div class="uBody">
<div class="uBmian fl">
<h2 class="uH2n">相册</h2>
<div class="uChs">           
<div class="uCh">
<div class="uPhotos">

{% if user.useralbum_set.all %}
{% for album in user.useralbum_set.all %}
<foreach name="User.pics" item="p">
        <div class="uAlbum">
            <img class="pupic" src="{% static album.albumimage_set.all.0.image %}" />
            <h3 class="uH3tn">
                <a href="{% url 'front:photos' %}?id={{ album.id }}">{{ album.album_name }}</a>
            </h3>
        </div>
</foreach>
{% endfor %}
{% else %}
    <p style="text-align:center;padding:5px 0 20px;">暂无相册</p>
{% endif %}
        
</div>

{% comment %}
<div class="ufPage">
    {$page}
</div>
{% endcomment %}
</div>       
</div> 
</div>

{# 个人资料公共部分 #}
{% include 'common/front_common/user_common.html' %}


    </div>
</div>
</div>


</div>
{% endblock body %}


