

{# 继承父模板 #}
{% extends 'common/front_common/base.html' %}

{# 加载标签 #}
{% load staticfiles %}

{# 标题部分 #}
{% block title%}用户的主页-乐旅网{% endblock title %}

{# 顶部js部分 #}
{% block head_js %}

<link rel="stylesheet" href="{% static 'front/css/g.css' %}">

{% endblock head_js %}


{# 网页主体部分内容 #}
{% block body %}

<div class="mhtml">

<div class="uHome">
<div class="le-wrapper98">
    <div class="uHeader">
        <div class="uPic">
            <img src="/{$User.img.path}{$User.img.name}">
        </div>
        <div class="uInfo">
            <div class="infoTop">
                <h1 class="uH1n">{$User.nick}</h1>
                <div class="uSign">{$User.sign}</div>
            </div>
            <div class="navMenu">
                <ul class="nMbar">
                    <li><a href="{:U('Home/User/index',null,null)}?np={$User.open}">主页</a></li>
                    <li><a href="{:U('Home/User/Notes',null,null)}?np={$User.open}">游记</a></li>
                    <li><a href="{:U('Home/User/Photos',null,null)}?np={$User.open}">相册</a></li>
                    <li><a href="{:U('Home/User/Info',null,null)}?np={$User.open}">个人资料</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="uBody">
        <div class="uBmian fl">
            <h2 class="uH2n">主页</h2>
<div class="uChs">           
<div class="uCh">
    <div class="uPhotos">
<if condition="($User.pics neq null)">
<foreach name="User.pics" item="p">
        <div class="uAlbum">
            <img class="pupic" src="/{$p.img.path}{$p.img.name}" />
            <h3 class="uH3tn">
                <a href="{:U('Home/Photos/Album',null,null)}?np={$p.open}">{$p.title}</a>
            </h3>
        </div>
</foreach>
<else/>
    <p style="text-align:center;padding:5px 0 20px;">暂无相册</p>
</if>
<!--         <div class="uAlbum">
            <img class="pupic" src="./src/psb.jpg" />
            <h3 class="uH3tn">
                <a href="#link">美丽的淮师大</a>
            </h3>
        </div> -->

    </div>
    <div class="uMore">
        <div class="ump"> 
            <a href="{:U('Home/User/Photos',null,null)}?np={$User.open}" class="ulink">查看更多相册</a>
        </div>
    </div> 
</div>
<div class="uCh">
    <div class="untlist">

<ul>
<if condition="($User.notes neq null)">
<foreach name="User.notes" item="n">
    <li class="uNt">
        <h3 class="unH3t">
            <a href="{:U('Home/Notes/View',null,null)}?np={$n.open}">{$n.title}</a>
        </h3>
        <div class="ntCtx">
            <if condition="($n.thumb neq null)">
                <div class="ntImg">
                    <img src="/{$n.img.path}{$n.img.name}">
                </div>
            </if>
            <p>{$n.description}</p>
        </div>
        <div class="ntInfo">
            <div class="ntPubtime">
                <span>发布时间:</span>
                <span>{$n.pubtime|date='Y-m-d',###}</span>
            </div>
            <div class="ntFrom">
                <span>浏览({$n.visted})</span>
            </div>  
        </div>
    </li>
</foreach>
<else/>
    <p style="text-align:center;padding:5px 0 20px;">暂无游记</p>
</if>
<!--     <li class="uNt">
        <h3 class="unH3t">
            <a href="#nlink">美丽的颐和园游记</a>
        </h3>
        <div class="ntCtx">
            <p>颐和园是我国现存规模最大，保存最完整的皇家园林。它原是清朝帝王的行宫和花园，以杭州西湖风景为蓝本，汲取江南园林的某些设计手法和意境而建成的一座大型天然山水园。</p>
        </div>
        <div class="ntInfo">
            <div class="ntPubtime">
                <span>发布时间:</span>
                <span>2017-3-25</span>
            </div>
            <div class="ntFrom">
                <span>浏览(217)</span>
            </div>  
        </div>
    </li> -->

</ul>

    </div>
    
    <div class="uMore">
        <div class="ump"> 
            <a href="{:U('Home/User/Notes',null,null)}?np={$User.open}" class="ulink">查看更多游记</a>
        </div>
    </div> 
</div>                
</div> 
        </div>
       {# 个人资料公共部分 #}
        {% include 'common/front_common/user_common.html' %}



    </div>
</div>


</div>
{% e
</div>ndblock body %}

