{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>美丽云南,图片,旅游攻略_云南旅游必去景点,乐旅网</title>
    <meta name="keywords" content="美丽云南,图片,旅游攻略_云南旅游必去景点,乐旅网">
    <meta name="description" content="美丽云南,图片,旅游攻略_云南旅游必去景点,乐旅网">
    <link rel="stylesheet" href="{% static 'front/css/yunnanbase.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'front/css/yunnan.css' %}" type="text/css">
<body>

<div class="yunan_zhi">
    <p><a href="#" style="color:#FFFFFF;">云南</a>，是小资的圣地，这里的天地，风光气候，
        彷佛一切都是为小资量身定做。小资爱浪漫，大理的风花雪月、
        束河的小桥流水、德钦的梅里雪山、版纳的热带雨林等等，哪一处不是为小资们量身定做的呢 ？
        在风花雪月里演绎一段风花雪月的故事，在小桥流水边酝酿一壶冰清玉洁的忘忧水，
        在梅里雪山下镌刻一首山盟海誓的恋歌，在热带雨林里写一首剪不断理还乱的情诗。云南之旅，小资大爱。</p>
</div>
<div class="content clear_fl">
    <!-- 第一块内容 start -->
    <div class="yunnan_one clear_fl">

        <div class="yunnan_one_left fl">
            <div class="yunnan_one_top">
                <a href="#"><img src="/static/front/image/daligucheng.jpg" alt="大理古城全景"></a>
                <div class="iner_wrap">
                    <h3 class="clear_fl">
                        <a href="#" class="fl">大理古城</a>
                        <span class="fr">推荐指数：
                    <em>☆☆☆☆☆</em></span>
                    </h3>
                    <p>四季如春的小城却拥有众多的书店碟店酒吧咖啡馆，到处可见常年泡在这儿的都是鬼佬和小资，而风花雪月的大理，香风满道、芳气袭人；洱海月夜，银光粼粼，相拥于此，一生难忘。徒步、自行车时下流行的户外项目在青山绿水中开展，这里具备了一切小资们心动的因素！</p>
                </div>
            </div>
            <!-- 爱心小贴士 -->
            <div class="yunnan_one_bot"></div>
        </div>

        <div class="yunnan_one_right fl">
            <dl class="yunnan_right_top clear_fl">
                <dt class="fl"><a href="#"><img src="/static/front/image/daizuyuan.jpg" alt="傣族园全景"></a></dt>
                <dd class="fl">
                    <div class="yunnan_top_one clear_fl">
                        <span class="fl yunan_top_title"></span>
                        <h3 class="fl">
                            <a href="#">西双版纳傣族园</a>
                            <span class="fr">推荐指数：
                        <em>☆☆☆☆☆</em></span>
                        </h3>
                    </div>
                    <p>一株株笔直高耸的槟榔树和贝叶树，挺立在村道两旁，仿佛在拍着巨大的巴掌，夹道欢迎远方来的客人；一幢幢造型独特的竹楼掩映在绿树翠竹丛中，显得那样清幽和雅致。宁静而又悠远的古镇、乡民朴实旷达的作风、充满着民族特色的建筑物，成了小资们前往最好的理由。</p>
                    <div class="yunnan_top_two clear_fl">
                        <span class="tu_title">美图欣赏</span>
                        <ul class="yunnan_top_three clear_fl">
                            <li><a href="#"><img src="/static/front/image/daizuyuan1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="/static/front/image/daizuyuan2.jpg" alt="图片3"></a></li>
                            <li><a href="#"><img src="/static/front/image/daizuyuan3.jpg" alt="图片3"></a></li>
                            <li><a href="#"><img src="/static/front/image/daizuyuan4.jpg" alt="图片3"></a></li>
                        </ul>
                    </div>
                </dd>
            </dl>

            <dl class="yunnan_right_top clear_fl e_w">
                <dt class="fl"><a href="#"><img src="/static/front/image/meilixueshan.jpg" alt="梅里雪山全景"></a></dt>
                <dd class="fl">
                    <div class="yunnan_top_one clear_fl">
                        <span class="fl yunan_top_title tu_two"></span>
                        <h3 class="fl">
                            <a href="#">梅里雪山</a>
                            <span class="fr">推荐指数：
                        <em>☆☆☆☆☆</em></span>
                        </h3>
                    </div>
                    <p>藏族人民视梅里雪山为神山，因为这里有七百多年的朝圣路，群峰本身传达着神性，这里有无数的冰川、瀑布、草原、溪流、大河、森林以及美丽的家园。小资们往往相约同去前去,在最为旷怡的自然之中去汲取最为纯粹、最为赤诚的灵气使自己的灵魂更加纯洁，使自己的生命更加坚强。</p>
                    <div class="yunnan_top_two clear_fl">
                        <span class="tu_title">美图欣赏</span>
                        <ul class="yunnan_top_three clear_fl">
                            <li><a href="#"><img src="/static/front/image/meilixueshan1.jpg" alt="梅里雪山全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/meilixueshan2.jpg" alt="梅里雪山全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/meilixueshan3.jpg" alt="梅里雪上全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/meilixueshan4.jpg" alt="梅里雪山全景"></a></li>
                        </ul>
                    </div>
                </dd>
            </dl>

        </div>

    </div>
    <!-- 第一块内容 end -->

    <!-- 第二块内容 start -->
    <div class="yunnan_one clear_fl bg_title_tu">

        <div class="yunnan_one_right fl add_ew1">
            <dl class="yunnan_right_top clear_fl" style="padding-left:0;">
                <dt class="fl"><a href="#"><img src="/static/front/image/pudacuo.jpg" alt="普达措全景"></a></dt>
                <dd class="fl">
                    <div class="yunnan_top_one clear_fl">
                        <span class="fl yunan_top_title yunan_top_title1"></span>
                        <h3 class="fl">
                            <a href="#">普达措国家公园</a>
                            <span class="fr">推荐指数：
                    <em>☆☆☆☆☆</em></span>
                        </h3>
                    </div>
                    <p>山间树林、草甸牛场上开出些小花，洁白的湖面上泛着淡淡的蓝光，湖边的湿地上还有一些沙鸥和麻鸭在漫步，牛群痴情地低着头垂青着小草繁花的季节叩开心灵的窗扉。风轻云淡，阳光明媚的日子漫步于美丽的普达措，漫步于苍树繁茂的山涧沟壑，四处寻寻觅觅奔波的心灵，此时得到无限的宁静。</p>
                    <div class="yunnan_top_two clear_fl">
                        <span class="tu_title">美图欣赏</span>
                        <ul class="yunnan_top_three clear_fl">
                            <li><a href="#"><img src="/static/front/image/pudacuo1.jpg" alt="图片3"></a></li>
                            <li><a href="#"><img src="/static/front/image/pudacuo2.jpg" alt="图片3"></a></li>
                            <li><a href="#"><img src="/static/front/image/pudacuo3.jpg" alt="图片3"></a></li>
                            <li><a href="#"><img src="/static/front/image/pudacuo4.jpg" alt="图片3"></a></li>
                        </ul>
                    </div>
                </dd>
            </dl>

            <dl class="yunnan_right_top clear_fl e_w" style="padding-left:0;">
                <dt class="fl"><a href="#"><img src="/static/front/image/shuhe.jpg" alt="束河全景"></a></dt>
                <dd class="fl">
                    <div class="yunnan_top_one clear_fl">
                        <span class="fl yunan_top_title yunan_top_title2"></span>
                        <h3 class="fl">
                            <a href="#">束河古镇</a>
                            <span class="fr">推荐指数：
                    <em>☆☆☆☆☆</em></span>
                        </h3>
                    </div>
                    <p>束河依山傍水，民居房舍错落有致。街头有一潭水，称为“九鼎龙潭”，又称“龙泉”。潭周绿柳垂地，翠柏指天，泉水清澈，游鱼可数。从潭中溢出的流水蜿蜒于村中道旁，远近汩汩有声。行走在束河古镇，深深地感悟到，生活在这片村落里的纳西人家，一直静悄悄地恪守着从远古时代沿袭下来的淡泊与沉静。</p>
                    <div class="yunnan_top_two clear_fl">
                        <span class="tu_title">美图欣赏</span>
                        <ul class="yunnan_top_three clear_fl">
                            <li><a href="#"><img src="/static/front/image/shuhe1.jpg" alt="束河全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/shuhe2.jpg" alt="束河全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/shuhe3.jpg" alt="束河全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/shuhe4.jpg" alt="束河全景"></a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>

        <div class="yunnan_one_left fl add_width1">
            <div class="yunnan_one_top">
                <a href="#"><img src="/static/front/image/yingshicheng.jpg" alt="天龙八部影视城全景"></a>
                <div class="iner_wrap yunan_top_title3">
                    <h3 class="clear_fl">
                        <a href="#" class="fl">天龙八部影视城</a>
                        <span class="fr">推荐指数：
            <em>☆☆☆☆</em></span>
                    </h3>
                    <p>《天龙八部》—版再版，每次都有着不同的时代气息和不同的时代文化，都风靡大江南北，不论是哪—版，乔峰的大英雄气概都历历在目，脍炙人口．令人久久回味。影视城美仑美奂的建筑物形象逼真，有大埋国．段氏皇宫，看上去似乎就是古时的大理、街道上善良、勤劳的人民在讲述着这个古老的地方.金碧辉煌的大殿、皇宫士卫严整，都市繁华，人民安居乐业、表明了古代大理国的繁荣富强；皇宫甲国王与民同乐，陶醉在金花的白族舞、白族歌中。</p>
                </div>
            </div>

            <!-- 爱心小贴士 -->
            <div class="yunnan_one_bot yunnan_one_bot1"></div>
        </div>

    </div>
    <!-- 第二块内容 end -->

    <!-- 第三块内容 start -->
    <div class="yunnan_one clear_fl bg_title_tu1">

        <div class="yunnan_one_left fl">
            <div class="yunnan_one_top">
                <a href="#"><img src="/static/front/image/lashihai.jpg" alt="拉市海全景"></a>
                <div class="iner_wrap yunan_top_title4">
                    <h3 class="clear_fl">
                        <a href="#" class="fl">拉市海</a>
                        <span class="fr">推荐指数：
                <em>☆☆☆☆☆</em></span>
                    </h3>
                    <p>拉市海是个很美的地方，当你站在那里，就很难摆脱她的影响。蓝天白云，青山绿水，看顺眼了，怎么都高兴。但可惜好景有限，拉市海只给了你那么大的空间和那么多点时间。如果能再久一点，再长一点，也许会觉得更好。</p>
                </div>
            </div>

            <!-- 左边下侧内容 -->
            <dl class="yunnan_right_top clear_fl e_w no_add_pl">
                <dt class="fl"><a href="#"><img src="/static/front/image/nanzhao.jpg" alt="南诏风情岛全景"></a></dt>
                <dd class="fl">
                    <div class="yunnan_top_one clear_fl">
                        <span class="fl yunan_top_title yunan_top_title6"></span>
                        <h3 class="fl">
                            <a href="#">南绍风情岛</a>
                            <span class="fr">推荐指数：
                    <em>☆☆☆☆</em></span>
                        </h3>
                    </div>
                    <p>南诏风情岛，历史上有名的、令大唐王朝蒙羞的天宝之战就发生在这一带。岛上幽穴古洞盘曲交错，百年古榕枝繁蔽日，岛域四围渚青沙白，缥缈梦幻如海市蜃楼。这是一个白天睡够觉，晚上看夕阳，清晨看日出的地方。揣着无数的故事与传说，在南诏故国悠远的刀光剑影之后依然透出几分风雅，大理更令人动容的，是那份始终藏在凡尘俗世之后的从容与平和。</p>
                    <div class="yunnan_top_two clear_fl">
                        <span class="tu_title">美图欣赏</span>
                        <ul class="yunnan_top_three clear_fl">
                            <li><a href="#"><img src="/static/front/image/nanzhao1.jpg" alt="南诏风情岛全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/nanzhao2.jpg" alt="南诏风情岛全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/nanzhao3.jpg" alt="南诏风情岛全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/nanzhao4.jpg" alt="南诏风情岛全景"></a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>

        <div class="yunnan_one_right fl">
            <dl class="yunnan_right_top clear_fl">
                <dt class="fl"><a href="#"><img src="/static/front/image/yushuizhai.jpg" alt="玉水寨全景"></a></dt>
                <dd class="fl">
                    <div class="yunnan_top_one clear_fl">
                        <span class="fl yunan_top_title yunan_top_title5"></span>
                        <h3 class="fl">
                            <a href="#">玉水寨</a>
                            <span class="fr">推荐指数：
                    <em>☆☆☆☆</em></span>
                        </h3>
                    </div>
                    <p>山有多高，水有多高”，这是人们对玉水山寨的赞誉，或许造物主格外恩赐玉水寨，圣洁的玉龙雪山融化的山泉，选择了那两株千年的五角枫树，从荫翳蔽日的树底下以每秒0.5立方米的清泉从这个神泉口喷涌而出，带着水花向南流，注满一个又一个玉水潭，形成三叠水瀑布群。我想，是玉龙雪山之巅那圣洁的雪水，选择了玉水寨，才让玉水寨的水才如此充满灵性。那玉水流淌的声音，在离玉水寨数里之外就感觉到了，正是这种感觉，吸引着人们不由自主的来到神泉口，用铜瓢撷起玉水，啜饮一口，泉水清凉、甘甜，慢慢地沁进心里，使我真切感受到了玉水寨的水能涤荡灵魂。</p>
                    <div class="yunnan_top_two clear_fl">
                        <span class="tu_title">美图欣赏</span>
                        <ul class="yunnan_top_three clear_fl">
                            <li><a href="#"><img src="/static/front/image/yushuizhai1.jpg" alt="图片3"></a></li>
                            <li><a href="#"><img src="/static/front/image/yushuizhai2.jpg" alt="图片3"></a></li>
                            <li><a href="#"><img src="/static/front/image/yushuizhai3.jpg" alt="图片3"></a></li>
                            <li><a href="#"><img src="/static/front/image/yushuizhai4.jpg" alt="图片3"></a></li>
                        </ul>
                    </div>
                </dd>
            </dl>

            <dl class="yunnan_right_top clear_fl e_w">
                <dt class="fl"><a href="#"><img src="/static/front/image/luguhu.jpg" alt="泸沽湖全景"></a></dt>
                <dd class="fl">
                    <div class="yunnan_top_one clear_fl">
                        <span class="fl yunan_top_title yunan_top_title7"></span>
                        <h3 class="fl">
                            <a href="#/luguhu/tour.html">泸沽湖</a>
                            <span class="fr">推荐指数：
                    <em>☆☆☆☆☆</em></span>
                        </h3>
                    </div>
                    <p>泸沽湖”，那美得令人窒息的湖光山色，驾船摩梭姑娘仿佛被纯净湖水浸过的清脆歌声，女不嫁的走婚制为特征的摩梭风情吸引了一拨拨的小资们前往。</p>
                    <div class="yunnan_top_two clear_fl">
                        <span class="tu_title">美图欣赏</span>
                        <ul class="yunnan_top_three clear_fl">
                            <li><a href="#"><img src="/static/front/image/luguhu1.jpg" alt="泸沽湖全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/luguhu2.jpg" alt="泸沽湖全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/luguhu3.jpg" alt="泸沽湖全景"></a></li>
                            <li><a href="#"><img src="/static/front/image/luguhu4.jpg" alt="泸沽湖全景"></a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>

    </div>
    <!-- 第三块内容 end -->

    <div class="love_tis"></div>

    <!-- 第四块内容 start -->
    <div class="yunnan_two clear_fl">
        <ul class="yunnan_two_lists clear_fl">
            <li>
                <a class="list_img" href="#"><img src="/static/front/image/xiangzhufan.jpg" alt="香竹饭"></a>
                <div class="list_text">
                    <h4><a>香竹饭</a></h4>
                    <p>香竹饭具有浓郁的傣族风味，竹子内有一层香气扑鼻的香膜，所以叫香竹。吃的时候用木锤敲打，使饭变得又软又香，吃起来芳香柔糯，别有风味。版纳的饭店里吃糯米的时候，要先洗手，因为糯米要用手捏，捏的时间越长，口感越好。当地人说，吃糯米的时候，要边摸头边捏，那样才会越吃越香.</p>
                </div>
            </li>
            <li>
                <a class="list_img" href="#"><img src="/static/front/image/guoqiaomixian.jpg" alt="过桥米线"></a>
                <div class="list_text">
                    <h4><a>过桥米线</a></h4>
                    <p>米线是云南的地方小吃，那里的过桥米线是米线中的上品，以用料考究，制作精良，吃法独特，独具风味而闻名中外。过桥米线由汤、片和米线、佐料三部分组成。吃起来味道 特别浓郁鲜美，营养非常丰富。过桥米线集中地体现了滇菜而丰盛的原料，精湛的技术和特殊的吃法，在国内外享有盛名。</p>
                </div>
            </li>
            <li>
                <a class="list_img" href="#"><img src="/static/front/image/sandaocha.jpg" alt="三道茶"></a>
                <div class="list_text">
                    <h4><a>三道茶</a></h4>
                    <p>云南与茶有着太深的渊源。云南不仅是茶树的发源地，也是世界上最令人惊心动魄的道路之一——茶马古道的发源地。云南人爱喝茶，白族的“三道茶”，是云南大理白族招待嘉宾的一种独特的饮茶方式，相传原为古代南诏王招待贵宾的一种饮茶礼，后来流传到民间，经保留和发展延续至今。</p>
                </div>
            </li>
            <li class="no_margin">
                <a class="list_img" href="#"><img src="/static/front/image/erkuai.jpg" alt="饵块"></a>
                <div class="list_text">
                    <h4><a>饵块</a></h4>
                    <p>饵块为云南特有，是昆明最著名的名特小吃之一，也是大理地区常见的传统食品之一。饵块系用优质大米加工制成，其制作过程是将大米淘洗、浸泡、蒸熟、冲捣、揉制成各种形状。一般分为块、丝、片三种。制作方法烧、煮、炒、卤、蒸、炸均可，风味各异，久食不厌,味道好极了，您必不能错过！</p>
                </div>
            </li>
        </ul>
    </div>
    <!-- 第四块内容 end -->

    <!-- 第五块内容 start -->
    <div class="yunnan_three clear_fl">
        <!-- 341x398图片  -->
        <a href="#meilixueshan" class="fl img1"><img src="/static/front/image/11.jpg" alt="梅里雪山"><span class="lh1"><em class="fz1">梅里雪山</em></span></a>
        <!-- 202x132图片  -->
        <a href="#lashihai" class="fl img2"><img src="/static/front/image/12.jpg" alt="拉市海"><span><em>拉市海</em></span></a>
        <a href="#luguhu" class="fl img2"><img src="/static/front/image/1.jpg" alt="泸沽湖"><span><em>泸沽湖</em></span></a>
        <a href="#meilixueshan" class="fl img2 img3"><img src="/static/front/image/2.jpg" alt="梅里雪山"><span><em>梅里雪山</em></span></a>
        <a href="#daligucheng" class="fl img2 img4"><img src="/static/front/image/3.jpg" alt="大理古城"><span><em>大理古城</em></span></a>
        <a href="#daligucheng" class="fl img2 img4"><img src="/static/front/image/4.jpg" alt="大理古城"><span><em>大理古城</em></span></a>
        <a href="#daligucheng" class="fl img2 img4 img3"><img src="/static/front/image/5.jpg" alt="大理古城"><span><em>大理古城</em></span></a>
        <a href="#daligucheng" class="fl img2 img4"><img src="/static/front/image/6.jpg" alt="大理古城"><span><em>大理古城</em></span></a>
        <a href="#nanzhaofqd" class="fl img2 img4"><img src="/static/front/image/8.jpg" alt="南诏风情岛"><span><em>南诏风情岛</em></span></a>
        <a href="#luguhu" class="fl img2 img4 img3"><img src="/static/front/image/7.jpg" alt="泸沽湖"><span><em>泸沽湖</em></span></a>
    </div>
    <!-- 第五块内容 end -->

</div>

<div id="footer">
    <div class="footer_main">
        <div class="footer_main_left fl">
            <ul class="index_nav">
                <li><a href="#">首页</a><span>|</span></li>
                <li><a href="#">资讯</a><span>|</span></li>
                <li><a href="#">网站地图</a><span>|</span></li>
                <li><a href="#">友情链接</a><span>|</span></li>
            </ul>
            <p>Copyright &copy; 2017 乐旅网</p>
        </div>
    </div>
</div>

</body></html>


