{% load staticfiles %}
<div class="uSide fr">
    <h2 class="uH2n">个人资料</h2>
    <div class="usBox">
        <div class="usHd">
            <div class="usPic">
                <img src="{% static user.user_photo %}">
            </div>
            <div class="usInfo">
                <h2 class="uH2tn">{{ user.user_name }}</h2>
                <span class="ulocate">现居:{{ user.user_addr }}</span>
            </div>
        </div>
        <div class="usCb">
            <span>游记(<b>{{ user.travelnote_set.all|length }}</b>)</span>
            <span>相册(<b>{{ user.useralbum_set.all|length }}</b>)</span>
        </div>
    </div>
</div>