
<div class="uSide fr">
    <h2 class="uH2n">个人资料</h2>
    <div class="usBox">
        <div class="usHd">
            <div class="usPic">
                <img src="/{$User.img.path}{$User.img.name}">
            </div>
            <div class="usInfo">
                <h2 class="uH2tn">{$User.nick}</h2>
                <span class="ulocate">现居:{$User.locate}</span>
            </div>
        </div>
        <div class="usCb">
            <span>游记(<b>{$User.ncount}</b>)</span>
            <span>照片(<b>{$User.pcount}</b>)</span>
        </div>
    </div>
</div>