@charset "utf-8";
div,body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,fieldset,figure,dl {
	margin: 0;
	padding: 0;
}
div,figure,img,input,button {}
body {
	background-color: #FDFDFD;
    height:100%; width:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
img {display: block;max-width: 100%;}
ul,ol {list-style: outside none none;}
a {text-decoration: none;}
.ellipsis{
    overflow:hidden;
    white-space:normal;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.clearfix{display: block;clear: both;}
.clearfix:after{content: '\20'; display: block;height: 0;clear: both;}
.fl{float: left;}
.fr{float: right;}

/*header*/
header{background: #0c92f2;position: relative;}
.le-wrapper{
    width: 1024px;height: auto;
    margin: 0 auto;position: relative;
}
.le-wrapper98{
    width: 980px;height: auto;
    margin: 0 auto;position: relative;
}
.so-wrapper{
    width: 1170px;height: auto;
    margin: 0 auto;position: relative;
}
.logo{
    height: 40px;width: 125px;float: left;margin: 5px 0;
    background: url(../images/logo.png) no-repeat 0 0;overflow: hidden;
    text-indent: 99999em;
}

.le-hd-so{height:26px;width: 220px; line-height: 30px;
    margin: 12px auto 12px 25px;
    float: left;z-index: 2;position: relative;
    border-radius: 3px;
    background: rgba(255,255,255,.3);}
.le-hd-so a{color: #fff; font-family:"Microsoft YaHei",SimHei;}
.so-word::-webkit-input-placeholder{color: #F6F0EA !important;}
.so-word:-moz-placeholder {color: #F6F0EA !important; /*Mozilla Firefox 4 to 18 */}
.so-word::-moz-placeholder {color: #F6F0EA !important; /* Mozilla Firefox 19+ */}
.so-word::-ms-input-placeholder {color: #F6F0EA !important; /* Internet Explorer 10+ */}
.le-hd-so .so-word {
    float: left;
    width: 182px;
    height: 14px;
    /*line-height: 26px;*/
    padding: 6px;
    outline: 0;
    border: 0;
    background: 0;
    color: #fff;
}
.le-hd-so .so-btn {
    display: block;
    font-size: 14px;
    line-height: 26px;
    color: rgb(255,255,255);
    width: 26px;
    height: 26px;
    position: absolute;top: 0;right: 0;
    cursor: pointer;
    opacity: .6;
    outline: 0;border: 0;
    background: url(../images/icon-search-btn.png) no-repeat center center;
}
.le-hd-ua{
    float: right;height: 32px;line-height: 32px;
    margin: 9px 0 7px 8px;z-index: 2;font-size: 14px;
}
.le-hd-ua span{color: rgba(255,255,255,.6);}
.le-hd-ua a{color: rgba(255,255,255,.6);margin: 0 5px;line-height: 14px;}
.le-hd-ua a:hover{color:#fff;}
.le-hd-ua .u-pannel{float: left;}
.le-hd-ua .unlogin{}
.le-hd-ua .login{display: none;}
.le-hd-nav{
    height: 48px;line-height: 48px; float: left;
    overflow: hidden;margin: 1px;z-index:1;  
}
/* 导航 */
.le-nav{float: left; font-family:"Microsoft YaHei",SimHei;}
.le-nav .le-m{ float:left;margin:auto 3px auto 0;}
.le-nav .on h3 a,.le-nav a:hover{color:#fff; background-color: #1f6efe;}
.le-nav h3{font-weight:normal; font-size:16px;overflow:hidden;}
.le-nav h3 a{ display:block;color:#e1e2e3; padding:0 15px;}
.le-nav .le-m span{color: rgba(255,255,255,.8);}


/*footer*/
.le-footer{margin-top: 15px;padding:0px 0 20px;background: #ffffff; border-top: 1px solid #e6e6e6;}
.so-footer{
    padding:20px 0;background: #ffffff; 
    border-top: 1px solid #eaeaea;
}
.le-footer .le-friend-link{
    margin:10px 0 30px;
    padding-top:10px;
    overflow: hidden;
}
.le-friend-link span{
    float: left;color: #bcb9ae;
    padding-right: 20px;padding-left: 8px;
    font-family: "Microsoft YaHei",SimHei;
    border-right: 1px solid #e4e1d8;
    font-size: 22px;
    font-weight: 200;
}
.le-friend-title{width: 100%;overflow: hidden;margin-bottom: 10px;}
.le-friend-list{float: left;display: inline-block;}
.le-friend-list li{float: left; margin:0px 8px;font-size: 16px;line-height: 29px;}
.le-friend-list li a{color: #808080;font-family: "Microsoft YaHei",SimHei;}
.le-friend-list li a:hover{color: #f60;}
.ft-nav ,.le-copyright{
    font: 12px/1.5 tahoma,arial,sans-serif;margin: 5px auto;
    font-size: 12px;color: #808080;text-align: center;
}
.ft-copy {
    font: 12px/1.5 tahoma,arial,sans-serif;
    margin: 5px auto;
    font-size: 12px;
    color: #808080;
}
.le-copyright a{color: #808080;}
.le-copyright a:hover{color: #f60;}
.ft-nav a{color: #808080;}
.ft-nav a:hover{color: #f60;}
.le-friend-link .le-friend-line{
    height: 0;width: 905px;float: right;
    border-top: 1px solid #e4e1d8;
    margin-top: 14px;
}
.le-ft{margin-top: 15px;padding:0px 0 20px;}
.le-ft .ft-nav a{color: #f7f7f7;}
.le-ft .ft-nav a:hover{color: #f60;}
.le-ft .le-copyright{color: #f7f7f7;}

.mhtml{
    background:#fcfcfc;overflow: hidden;
    background-size: 100%;
}


.h1hd{line-height: 50px;font-weight: normal;padding-bottom: 15px;}
.h3hd{line-height: 30px;font-weight: normal;padding: 5px 10px;border-bottom: 1px solid #f6f6f6; }
/*资讯界面*/
.infoBody{}
.ch-top{
    height: 30px;background: #fafafa; margin-top: 15px;
}
.mBd{margin: 15px auto;overflow: hidden;}
.mSide{
    width: 248px;background: #eee;
    border: 1px solid #f6f6f6;
    background: #fefefe;
}
.slist{
    padding: 10px;
}
.jtzw  li {
    line-height: 30px;
    font-size: 12px;
    color: #999999;
    height: 30px;
}
.jtzw li p {
    float: left;
    background: #0c92f2;
    color: #fff;
    line-height: 14px;
    margin-top: 7px;
    margin-right: 5px;
    height: 14px;
    width: 14px;
    text-align: center;
}
.jtzw li a {color: #666;}
.jtzw li a:hover{color: #f60;}
.mCtx{
    width: 692px;background: #eee;height: auto;
    padding: 15px 30px;border: 1px solid #f6f6f6;
    background: #fefefe;
}
.ctxInfo{
    padding: 5px 0 10px;
    border-bottom: 1px solid #e6e6e6;
}
.hdSub{margin-top: 15px;font-size: 14px;color: #797979;}
.hdSub span{margin:auto 10px auto 5px;}

.ctxBody{margin: 50px auto 50px;}
.ctxCmt{ border-top: 1px solid #e6e6e6;padding: 15px 0 30px;}

/*destView*/
.h1dhn{line-height: 50px;font-weight: normal;}
.dt3hd{line-height: 30px;font-weight: normal;
    padding: 5px 15px;
    border-top: 1px solid #eaeaea; }
.destBody{}
.dtop{
    height: auto;
}
.dtHeader{
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;overflow: hidden;
}
.dtHeader .dtImg{
    margin: auto 15px auto auto;
    display: block;
    float: left;
}
.dtImg img{width: 390px;height: 256px;}
.dtInfo{
    width: 599px;
    display: block;
    float: right;
    padding: 0 10px;
}
.dTitle{}
.dtSign{
    padding: 0 5px;
    line-height: 38px;
    font-size: 18px;
}
.dtSubInfo{
    padding:5px;
}
.dtScenery em,.dtPos em{
    margin-left: 10px;
    color: #1188c4;
    font-weight: bold;
    font-style: normal;
}
.sBrief{margin-left: 10px;}
.dtScenery,.dtPos,.dtBiref{
    font-size: 14px;
    color: #565656;
    line-height: 28px;
}


.dBd{
    margin: 15px auto;
}
.dmBody{overflow: hidden;background: #fefefe;
    padding: 20px 0 25px;}
.dCtx{
    width: 690px;
    padding:0 15px 15px;border-right: 1px solid #eaeaea;
    background: #fefefe;
}

.dtCH{
    margin-bottom: 10px;
}
.h2tn{
    font-weight: normal;
    overflow: hidden;
    font-size: 22px;
    line-height: 40px;
    border-bottom: 1px solid #0c92f2;
}
.h2tn span{
    display: block;float: left;
    padding: 0 15px;
    border-bottom: 1px solid #0c92f2;
}
.tnBd{
    overflow: hidden;
    margin-top: 10px;
}
.dH3tn{
    font-size: 16px;font-style: normal;
    font-weight: normal;
    height: 30px;overflow: hidden;
    line-height: 30px;margin: 5px auto 0;
    padding: 0 5px;
}
.dH3tn a{color: #565656;}
.dH3tn a:hover{color: #0c92f2;}
.tnDescription{
    padding: 15px;
    line-height: 2;
}

.dPhotos{
    padding: 5px 0;
    overflow: hidden;
}
.dAlbum{
    width: 198px;
    display: block;float: left;
    margin: auto 0 auto 15px;
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid #e6e6e6;
    padding: 5px 5px;
}
.dpic{width: 198px;height: 130px;}
.vMore{
    padding:10px 15px 5px;
}
.vmp{
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #f6f6f6;
}
.vlink{
    color: #565656;
}
.vlink:hover{color: #0c92f2;}

.ntlist{
    padding: 5px 15px 0;overflow: hidden; 
}
.dtNt{
    overflow: hidden;
    margin: auto auto 10px; 
    padding: 0 0 15px;
    border-bottom:1px solid #efefef;
    /*background: #ccc;*/
}
.nH3t{line-height: 30px;font-weight: normal;}
.nH3t a{color: #363636;}
.nH3t a:hover{color: #0c92f2;}

.ntCtx{overflow: hidden;padding: 10px 5px 5px;}
.ntCtx p{
    color: #696969;font-size: 14px;
    line-height: 30px;
}
.ntImg{float: left;margin:auto 15px 10px auto;}
.ntImg img{height: 120px;width: 180px;}
.ntInfo{
    display: block;padding: 0 5px;
    font-size: 12px;overflow: hidden;
}
.ntFrom,.ntPubtime{
    float: left;margin:auto 15px auto 5px;}
.ntInfo span{color: #797979;}
.u-link{color: #565656;}
.u-link:hover{color: #0c92f2;}

.dcmt{
    padding: 15px;
    margin: 35px auto 15px;
    border-top: 1px solid #eaeaea;
}

.sideTop{
    padding:10px 15px 15px;
}
.dSide{
    width: 303px;background: #eee;
    background: #fefefe;
}
.sideSign{
    background: #fafafa;
    height: 100%;
    font-size: 24px;
    line-height: 50px;}
.dlist{padding: 0 15px 0;overflow: hidden;}
.dtli{
    overflow: hidden;
    padding: 10px 5px 10px 0;
    border-bottom: 1px solid #efefef;
}
.dimg{
    margin-right: 10px;
    display: block;float: left;overflow: hidden;
}
.dimg img{height: 40px;width: 60px;}
.dh2t{
    font-size: 20px;
    line-height: 40px;
    display: block;
    font-weight: normal;}
.dh2t a{color: #565656;}
.dh2t a:hover{color: #0c92f2;}



/*Note*/
.ntPage{
    overflow: hidden;
}
.ntb{
    padding: 20px 0 10px;overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}
.ntH1title{
    font-weight: normal;
    line-height: 50px;
    padding: 5px 0 15px;
}
.ntDtx{
    overflow: hidden;background: #fefefe;
    padding: 20px 0 25px;
    margin: 15px auto;
}
.ntSide {
    width: 303px;
    background: #eee;
    background: #fefefe;
}

.ntdx{
    width: 660px;
    
    padding: 15px 30px;border-right: 1px solid #eaeaea;
    background: #fefefe;
}

.ntContent{word-break: break-all;
    word-wrap: break-word;
}
.ntCmt{
    margin: 35px auto;
    border-top: 1px solid #eaeaea;
    padding: 15px 0 30px;
}

/*tourist*/
.uHome{overflow: hidden;background-color: #D5F1FC;}
.uMore{
    padding:0;
    border-top:1px solid #c7e5eb;
}
.ump{
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #f2fdff;
}
.ump:hover{
    background: #dcf2f5;
}
.ulink{color: #676767;}
.ulink:hover{color: #157c8c;}
.uHeader{
    padding: 20px 5px 15px;overflow: hidden;
    border-bottom: 2px solid #c7e5eb;
}

.uPic{
    width: 116px;height: 116px;
    float: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px;
    background: #ffffff;

}
.uPic img{width: 116px;height: 116px;   }
.uInfo{
    float: left;margin-left: 5px;
    height: 128px;overflow: hidden;
    padding: 0 15px;display: block;
}
.infoTop{padding: 5px 0 15px;}
.uH1n{
    font-weight: normal;
    line-height: 50px;
    color: #157c8c;
}
.uSign{line-height: 28px;
    padding-left: 20px;
    color: #797979;
    font-size: 14px;
}


.navMenu{ 
    height: 30px; line-height: 30px;
}
.nMbar{overflow: hidden;}
.nMbar li{
    display: block; float: left;
    margin: auto 5px;
    padding: 0 15px;
    font-size: 16px;
}
.nMbar li a{color: #565656;}
.nMbar li a:hover{color: #157c8c;}

.uBody{
     /*background: #ccc;*/
    margin: 15px auto;overflow: hidden;
}

.uBmian{
    overflow: hidden;
    width: 690px; border: #CFEBF5 1px solid;
    background: #ffffff;
}
.uH3tn{
    font-size: 16px;font-style: normal;
    font-weight: normal;
    height: 30px;overflow: hidden;
    line-height: 30px;margin: 5px auto 0;
    padding: 0 5px;
}
.uH3tn a{color: #565656;}
.uH3tn a:hover{color: #157c8c;}

.uH2n{font-size: 16px;font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    padding:0 15px;color: #157c8c;
    background: #EBF7FD;}
.uH2tn{font-size: 16px;font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding:0 15px;color: #157c8c;}
.uPhotos {
    padding: 15px 0 0;
    overflow: hidden;
}
.uAlbum{
    width: 184px;
    display: block;float: left;
    margin: auto 0 15px 15px;
    border: 1px solid #e6e6e6;
    border-bottom: 3px solid #e6e6e6;
    padding: 5px 5px;
    background: #ffffff;
}
.pupic{width: 184px;height: 120px;}
.uChs{padding: 15px 20px;}
.uCh{
    margin-bottom: 15px;
    border:1px solid #c7e5eb;
}
.untlist{
    padding: 15px 15px 0;overflow: hidden; 
}
.untlist ul li:last-child{border-bottom: 0;}
.uNt{
    overflow: hidden;
    margin: auto auto 10px; 
    padding: 0 0 15px;
    border-bottom:1px dashed #ddedf0;
}
.unH3t{line-height: 30px;font-weight: normal;}
.unH3t a{color: #363636;}
.unH3t a:hover{color: #157c8c;}

.ntCtx{overflow: hidden;padding: 10px 5px 5px;}
.ntCtx p{
    color: #696969;font-size: 14px;
    line-height: 30px;
}

.ufPage{
    padding: 0 10px 15px;overflow: hidden;
}
.ufPage .prev:hover,.ufPage .next:hover,.ufPage .mun:hover{
    border-color: #c7e5eb;
    color: #157c8c;
    background: #f8f8f8;
}
.ufPage .pcur,.ufPage .more{
    background: #ffffff;
    color: #333;
    border-color: #ffffff;}
.uSide{
    width: 268px;border: #CFEBF5 1px solid;
    background: #ffffff;
}
.usPic{
    overflow: hidden;
    width: 100px;height: 100px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px;
    background: #ffffff;
    margin:15px auto 15px;   
}
.usPic img{
    width: 100px;height: 100px;
}
.usInfo{text-align: center;}
.ulocate{color: #676767;padding: 5px 0;font-size: 14px;}
.usBox{padding: 15px;}
.usHd{overflow: hidden;padding: 5px 0 5px;}
.usCb{text-align: center;overflow: hidden;
    padding: 5px 5px 10px;font-size: 14px;}
.usCb span{margin:5px;color: #595957;}
.usCb span b{font-weight: normal;color: #157c8c;}
.ufooter{margin-top: 0;border: none;padding-top: 30px;}

/*个人档*/
.ubH3t{
    font-weight: normal;line-height: 30px;
    border-bottom:1px solid #CAE5EF;
    padding:5px 10px;color: #157c8c;
}
.ubCtx{
    padding: 5px 10px;
}
.uinfolist li{
    margin: 20px auto;
    font-size: 14px;
    color: #565656;
    overflow: hidden;
}
.uinfolist li span{
    width: 100px;display: block;float: left;
}

/*搜索界面*/
.soHeader{ 
    border-bottom: 1px solid #e6e6e6;
}
.so-hd-nav{background: #efefef;
    overflow: hidden;font-size: 14px;
    line-height: 28px;} 
.so-nav{float: right;overflow: hidden;}
.so-nav li{display: block; float: left;margin: auto 10px;}
.so-nav li a{color: #565656;}
.so-nav li a:hover{color:#317ef3; }
.subHd{overflow: hidden;}
.subInner{padding: 15px 0;overflow: hidden;}
.so-logo{
    height: 40px;width: 125px;float: left;
    background: url(../images/min-logo.png) no-repeat 0 0;overflow: hidden;
    text-indent: 99999em;
}

.hd-so{height:40px;width: 640px; line-height: 30px;
    margin: 0 auto 0 10px;
    float: left;z-index: 2;position: relative;
    border-radius: 3px;}
.hd-so a{color: #ccc; font-family:"Microsoft YaHei",SimHei;}
.hd-so .so-input {
    float: left;font-size: 16px;
    width: 500px;height: 28px;
    padding: 5px 10px;
    outline: none;
    border-width: 1px 0 1px 1px;
    border-style:solid; 
    border-color: #0c92f2;
    background: 0;
    color: #363636;
}
.hd-so .so-btn {
    display: block;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    height: 40px;width: 120px;
    position: absolute;top: 0;right: 0;
    cursor: pointer;
    font-size: 16px;
    outline: 0;border: 0;
    background: #3385ff;
}
.hd-so .so-btn:hover{background: #317ef3;}

.so-hd-ua{
    float: right;height: 40px;line-height: 40px;
    z-index: 2;font-size: 14px;margin-right: 5px;
}
.so-hd-ua span{color: #565656;}
.so-hd-ua a{color: #565656;margin: 0 5px;line-height: 14px;}
.so-hd-ua a:hover{color:#317ef3;}
.so-hd-ua .u-pannel{float: left;}
.so-hd-ua .unlogin{}
.so-hd-ua .login{display: none;}



.soBody{
    padding: 10px 135px 15px;overflow: hidden;
}
.resultMsg{font-size: 14px;color: #797979;}
.resultMsg span{color: #565656;}
.resultContent{overflow: hidden;margin: 10px auto;}
.reslist{
    width: 520px; 
    padding: 0 130px 0 0;overflow: hidden;
}
.resItem{
    margin: 10px auto 5px;
    border-bottom: 1px solid #f1f1f1;
}
.resItem:last-child{border-bottom: 0;}
.rH3t{font-weight: normal;font-size: 16px;}
.rH3t a{color: #317ef3;}
.rH3t a:hover{color: #3385ff;text-decoration: underline;}
.rCtx{font-size: 14px;padding: 10px 5px 5px; overflow: hidden;}
.rCtx p {
    color: #565656;
    font-size: 13px;
    line-height: 1.54;
    margin: auto auto 10px auto;
}
.rImg {
    float: left;
    margin: auto 15px 10px auto;
}
.rImg img {
    height: 80px;
    width: 120px;
}


.rSide{
    width: 200px; 
    padding: 5px 15px 15px;
    border-left:1px solid #eaeaea;
}
.gH3t{font-weight: normal;}
.glist{padding: 10px 0 15px;}
.glist ul li{
    margin: 5px 0 15px;font-size: 14px;
}
.glist ul li a{color: #565656;}
.glist ul li a:hover{color: #3385ff;text-decoration: underline;}

.sPage{overflow: hidden;}
.prev,.next,.current,.more,.num{
    display: block;
    float: left;
    padding: 5px 10px;
    border: 1px solid #c6c6c6;
    margin: 5px;
    height: 20px;
    line-height: 20px;
    color: #565656;
    font-size: 14px;
}
.rows{float: left;
    padding: 5px 0;margin: 5px;}
.prev:hover,.next:hover,.num:hover{
    border-color: #0c92f2;
    color: #0c92f2;
    background: #f8f8f8;
}
.current,.more{
    background: #FDFDFD;
    color: #111;
    border-color: #FDFDFD;}


/*photolist*/
.photoContainer{
    overflow: hidden;
}
.photoHd{
    padding: 20px 0 10px; 
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
}
.pH1tn {
    font-weight: normal;
    line-height: 50px;
    padding: 5px 0 15px;
}
.pInfo {
    display: block;
    padding: 0 5px;
    font-size: 12px;
    overflow: hidden;
}
.pInfo span {
    color: #797979;
}
.photoBd{margin: 10px auto 0; 
    padding:5px 0 15px;overflow: hidden;}

.photoRlist{
    width: 720px;
    padding: 0 0 15px;
    border: 1px solid #f2f2f2;
    background: #ffffff;
}
.ph3tn{font-weight: normal;
    padding: 5px 15px;color: #565656;
    font-size: 14px;
    background: #f5f5f5;
}
.plist{padding: 10px 0 0 15px;overflow: hidden;}
.lPhotos{
    padding: 5px 0 0;
    overflow: hidden;
}
.lpic{
    width: 212px;height: 145px;
    display: block;overflow: hidden;
    float: left;
    margin: auto 15px 15px auto;
    border: 1px solid #f2f2f2;
    padding: 3px;
    background: #f6f6f6;
}
.lpic img{
    height: 100%;
    width: auto;
    display: block;
    margin: auto;
}
.picWrapper{height: 100%;}


.photoSide{
    width: 285px;
    border: 1px solid #f2f2f2;
    background: #ffffff;
}
.pslist{
    padding: 15px 0 0 15px;
}
.imgliBox{overflow: hidden;}
.imgliBox li{float: left;display: block;
margin: auto 15px 15px auto;
height: 75px;width: 75px;
}
.imgliBox li a{display: block; overflow: hidden; position: relative;}
.imgliBox li a img{height: 75px;}
.imgliBox li span{
    display: inline-block;font-size: 10pt;
    text-align: center;
    overflow: hidden;
    width: 100%; height: 20px;line-height: 20px;
    color: #fff;

    position: absolute;bottom: 0;background-color: rgba(0,0,0,.5);
}
.pMore {
    padding: 0 0;
}
.pmp {
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #f6f6f6;
    font-size: 14px;
}
