@charset "utf-8";
body{
	padding: 0; margin:0px;
	background: url(./images/dest_bg.jpg);
	background-size: cover;
	background-attachment:fixed
}
a,ul,li,h3,div{padding: 0;margin: 0;text-decoration: none;list-style-type: none;}
.mbody{
	width: 1024px;
	margin: 15px auto;
}
.dest-stage{
	width: 1024px;height: 445px;background: rgba(0,0,0,.45);
	margin: 15px auto;overflow: hidden;
}
.dest-all{overflow: hidden;}
.dest-box{width: 1024px; height: 395px; padding: 10px; overflow: hidden; float: left;}

.dest-t3,.dest-t2,.dest-t1{display: block; overflow: hidden;float: left; margin:0 10px 10px 0;}
.dest-t3{width: 328px; height: 260px;}
.dest-t2{width: 328px; height: 125px;}
.dest-t1{width: 159px; height: 125px;}
.dest-t3 img{width: 328px; height: 260px;}
.dest-t2 img{width: 328px; height: 125px;}
.dest-t1 img{width: 159px; height: 125px;}


.dest_indicator{padding:0 0 10px; margin:0px;text-align: center; height:20px;}
.dest_indicator li{display: inline-block; width: 10px;height: 10px;margin:5px; border-radius:50%; cursor:pointer;}
.dest_indicator li{background: #f7f7f7;}
.dest_indicator li.on{background: #f60;}


.dest-list{ width:1004px;padding: 10px; background:rgba(0,0,0,.45); }
.dt-box{ margin: 15px auto 5px;}
.dt-box-hd{height: 30px; line-height: 30px; padding-bottom: 10px; /*border-bottom: 1px dashed #6f6f6f;*/}
.dt-box-hd span{background:#FF720B;padding: 5px 5px 5px 5px;}
i.arrow{background: url(./images/zm_bg.png);padding:5px 30px 5px 0px;}

.dt-hd-title{font-weight: normal;color: #f7f7f7;}
.dt-body{padding: 10px 0; overflow: hidden;}

.city-list{}
/*.city-list li{ display: inline-block; margin: 5px; float: left; color: #fff;}*/
.city-list li{
display: -moz-inline-stack;
display: inline-block;
zoom: 1;
vertical-align: top;
width: 316px;
margin: 0 7px 0 7px;
}
.visit-type {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #f7f7f7;
    padding-bottom: 5px;
    border-bottom: 1px dashed #6f6f6f;
}
.city-list li p a {
    font: 12px/1.5 tahoma,arial,宋体,sans-serif;
    color: #f7f7f7;
    margin-right: 8px;
    line-height: 26px;
    display: inline-block;
}
.city-list li p a:hover {color: #f60;}