@charset "utf-8";

div,body,h1,h2,h3,h4,h6,p,ul,ol,form,fieldset,figure,dl {
	margin: 0;
	padding: 0;
}
div,figure,img,input,button {}
body {
	background-color: #FDFDFD;
    height:100%; width:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
img {
	display: block;
	max-width: 100%;
}
ul,ol {
	list-style: outside none none;
}
a {
	text-decoration: none;
}
.ellipsis{
    overflow:hidden;
    white-space:normal;
    text-overflow: ellipsis;/* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;/* Opera */
    -moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.clearfix{display: block;clear: both;}
.clearfix:after{content: '\20'; display: block;height: 0;clear: both;}
.fl{float: left;}
.fr{float: right;}
img.img-scale{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
img.img-scale:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .9s ease-out;
    -moz-transition: all .9s ease-out;
    -ms-transition: all .9s ease-out;
    -o-transition: all .9s ease-out;
    transition: all .9s ease-out;
}

/*header*/
header{
    background: #0c92f2;position: relative;
    margin-bottom: 15px;
}
.le-hd-wrapper,.le-ft-wrapper{
    width: 1024px;height: auto;
    margin: 0 auto;position: relative;
}
.logo{
    height: 40px;width: 125px;float: left;margin: 5px 0;
    background:no-repeat 0 0;
}
.logo{background-image: url(../images/logo.png) ;}
.le-hd-so{
    width: 320px;height: 32px;
    float: left;margin: 9px 0 9px 28px;position: relative;
    background: rgba(255,255,255,.3);border-radius: 3px;z-index: 2;
}
.le-hd-so .so-word {
    float: left;width: 265px;height: 14px;
    padding: 9px;outline: 0;border:0;
    background: 0;color: #fff;
}
.so-word::-webkit-input-placeholder{color: #F6F0EA !important;}
.so-word:-moz-placeholder {color: #F6F0EA !important; /*Mozilla Firefox 4 to 18 */}
.so-word::-moz-placeholder {color: #F6F0EA !important; /* Mozilla Firefox 19+ */}
.so-word::-ms-input-placeholder {color: #F6F0EA !important; /* Internet Explorer 10+ */}
.le-hd-so .so-btn{display: block; font-size: 31px;
    line-height: 34px;color: #fff;
    width: 36px;height: 32px;
    position: absolute;top: 0;
    right: 0;cursor: pointer;opacity: .6;
    filter: alpha(opacity=60);outline: 0;border: 0;
    background: url(../../icon-search-btn.png) no-repeat center center;
}
.le-hd-user{
    float: right;width: auto;height: 32px;line-height: 32px;
    margin: 9px 0 9px 8px;position: relative;z-index: 2;font-size: 14px;
}
.le-hd-user span{color: rgba(255,255,255,.6);}
.le-hd-user a{color: rgba(255,255,255,.6);margin: 0 9px;line-height: 14px;}
.le-hd-user a:hover{color:#fff;}
.le-hd-user .u-pannel{float: left;}
.le-hd-user .unlogin{}
.le-hd-user .login{display: none;}
.app-link{padding-left: 20px;background: url(../img/icon-phone.png) no-repeat left center;}
.le-header-nav{
    height: 45px;width: 100%;line-height: 45px;
    border-bottom: 1px solid #ededed;
    background: #fff;position:relative; z-index:1;  
}
.le-notice-nav {
    height: 32px;
    width: 100%;
    line-height: 32px;
    border-bottom: 1px solid #ededed;
    background: #fff;
    position: relative;
    z-index: 1;
}
.le-notice-nav  .le-nav h3{ height:auto;}
/* 导航 */
.le-nav{float: left;font-family:"Microsoft YaHei",SimHei;}
.le-nav .le-m{ float:left;margin-right:10px;}
.le-nav .on h3 a,.le-nav a:hover{color:#0c92f2;}
.le-nav h3{ float:left;font-weight:normal; font-size:16px; height:45px;overflow:hidden;}
.le-nav h3 a{ display:block;color:#696969; padding:0 15px 0 0;}
.le-nav .le-m span{color: rgba(0,0,0,.12);margin: 0 3px;padding-right: 15px;}
/*footer*/
.le-footer{margin-top: 15px;padding:0px 0 20px;}
.le-footer .le-friend-link{
    /*border-top: 1px solid #e4e1d8;*/
    margin:10px 0 30px;
    padding-top:10px;
    overflow: hidden;
}
.le-friend-link span{
    float: left;color: #bcb9ae;
    padding-right: 20px;padding-left: 8px;
    font-family: "Microsoft YaHei",SimHei;
    border-right: 1px solid #e4e1d8;
    font-size: 22px;
    font-weight: 200;
}
.le-friend-title{width: 100%;overflow: hidden;margin-bottom: 10px;}
.le-friend-list{float: left;display: inline-block;}
.le-friend-list li{float: left; margin:0px 8px;font-size: 16px;line-height: 29px;}
.le-friend-list li a{color: #808080;font-family: "Microsoft YaHei",SimHei;}
.le-friend-list li a:hover{color: #f60;}
.ft-nav ,.le-copyright{
    font: 12px/1.5 tahoma,arial,sans-serif;margin: 5px auto;
    font-size: 12px;color: #808080;text-align: center;
}
.le-copyright a{color: #808080;}
.le-copyright a:hover{color: #f60;}
.ft-nav a{color: #808080;}
.ft-nav a:hover{color: #f60;}
.le-friend-link .le-friend-line{
    height: 0;width: 905px;float: right;
    border-top: 1px solid #e4e1d8;
    margin-top: 14px;
}
.le-ft{margin-top: 15px;padding:0px 0 20px;}
.le-ft .ft-nav a{color: #f7f7f7;}
.le-ft .ft-nav a:hover{color: #f60;}
.le-ft .le-copyright{color: #f7f7f7;}




/*notice*/
.noticeBox{
    width: 600px; margin:30px auto 15px;
    padding:30px 20px 20px;background-color: #fff;
}
.noticeTitle{font-weight: normal;text-align: center;line-height: 50px;
padding-bottom: 20px;border-bottom: 2px solid #f00;}
.noticeBody{padding: 30px 10px;}
.noticeBody p{line-height: 2;}